//- extend _template
extend /_dev/_include/_layout

block vars
  - title = 'The Pig and The Lady'
  - description = 'xxx'
  - keywords = 'xxx'
  //- - img = 'http://localhost:3000/assets/images/share/ogp.jpg'
  //- - url = 'http://localhost:3000'

block main

  //- .p-pig.top#top(data-module="loadToTop")
  .top#top(data-module="loadToTop")
    .p-splash(data-module="splash" style="position: relative;")
      .p-loading__bg(data-module-loading="bg")
      //- .kv.p-splash__visual(data-module-splash="visual")
      .p-kv.p-splash__visual(data-module-splash="visual")
        //- video.p-splash__video(style="opacity: 0;" data-module-splash="video" loop muted playsinline data-object-fit="cover")
        .p-kv__main
          p.p-kv__lead
            |Honolulu, Hawaii's
            br
            |popular Vietnamese restaurant
        //- .kv__main
      div.p-splash__loading-icon(data-module-splash="loading-icon")
        +logo-icon
      header
        .p-splash__navigation__wrapper
          include /_dev/_include/_inc_nav.pug

      .p-burger_wrapper(data-module="burgerMenu")
        ul.p-burger_container
          li.p-burger_item(data-anchor="who")
            +sp-nav-who
          li.p-burger_item(data-anchor="service")
            +sp-nav-service
          li.p-burger_item(data-anchor="column")
            +sp-nav-column
          li.p-burger_item(data-anchor="team")
            +sp-nav-team
          li.p-burger_item(data-anchor="contact")
            +sp-nav-contact

      .p-scroll-icon

    .p-content

      .p-section.about#about
        .l-inner(data-module='LogoTitleAnimation')
          .u-txtCenter.u-mt10
            h2 ALOHA TOKYO
            p ハワイで最も人気のあるモダンベトナムレストラン
              br
              |“THE PIG & THE LADY”がついに日本初上陸！
            p Hawaii's popular modern Vietnamese restaurant, The Pig & The Lady, opening in Japan this year!

          .ffxi__section__lists
            .ffxi__section__list.l-col.l-col--2
              .ffxi__section__list__thumb
                img(src=`/assets/images/top/img_thumb_faith_01.jpg` alt="")
              .ffxi__section__list__detail
                p.c-text__long.ffxi__section__list__detail__adjust
                  span.ffxi__section__list__category.font-times
                    |FAITH
                p.c-text__long
                  span.ffxi__section__list__count.font-times-new-Roman
                    |01/02
                p
                  span.ffxi__section__list__desc
                    |ヴァナ・ディールで出会った
                    br
                    |キャラクターたちとの絆を深めると
                    br
                    |新魔法フェイスにてその分身を
                    br
                    |呼び出せるようになります。

            .ffxi__section__list.l-col.l-col--2
              .ffxi__section__list__thumb
                img(src=`/assets/images/top/img_thumb_faith_02.jpg` alt="")
              .ffxi__section__list__detail
                p.c-text__long.ffxi__section__list__detail__adjust
                  span.ffxi__section__list__category.font-times
                    |FAITH
                p.c-text__long
                  span.ffxi__section__list__count.font-times-new-Roman
                    |02/02
                p
                  span.ffxi__section__list__desc
                    |お友達や他のプレイヤーが
                    br
                    |集まらないときは、
                    br
                    |頼りがいのある分身たち…
                    br
                    |フェイスに任せてみましょう。





