// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400')
@font-face
  font-family 'Noto'
  font-style normal
  font-weight 400
  src local('NotoSansCJKjp-Regular'), url('/assets/font/NotoSansCJKjp/NotoSansCJKjp-RegularSubset.eot?#iefix') format('embedded-opentype'), url('/assets/font/NotoSansCJKjp/NotoSansCJKjp-RegularSubset.woff') format('woff'), url('/assets/font/NotoSansCJKjp/NotoSansCJKjp-RegularSubset.ttf') format('truetype')

@font-face
  font-family 'NotoLight'
  font-style normal
  font-weight 300
  src local('NotoSansCJKjp-Light'), url('/assets/font/NotoSansCJKjp/NotoSansCJKjp-LightSubset.eot?#iefix') format('embedded-opentype'), url('/assets/font/NotoSansCJKjp/NotoSansCJKjp-LightSubset.woff') format('woff'), url('/assets/font/NotoSansCJKjp/NotoSansCJKjp-LightSubset.ttf') format('truetype')

@font-face
  font-family 'NotoThin'
  font-style normal
  font-weight 100
  src local('NotoSansCJKjp-Thin'), url('/assets/font/NotoSansCJKjp/NotoSansCJKjp-ThinSubset.eot?#iefix') format('embedded-opentype'), url('/assets/font/NotoSansCJKjp/NotoSansCJKjp-ThinSubset.woff') format('woff'), url('/assets/font/NotoSansCJKjp/NotoSansCJKjp-ThinSubset.ttf') format('truetype')

@font-face
  font-family 'NotoDemiLight'
  font-style normal
  font-weight 100
  src local('NotoSansCJKjp-DemiLight'), url('/assets/font/NotoSansCJKjp/NotoSansCJKjp-DemiLightSubset.eot?#iefix') format('embedded-opentype'), url('/assets/font/NotoSansCJKjp/NotoSansCJKjp-DemiLightSubset.woff') format('woff'), url('/assets/font/NotoSansCJKjp/NotoSansCJKjp-DemiLightSubset.ttf') format('truetype')