@font-face
  font-family 'Noto'
  font-style normal
  font-weight 400
  // src url('/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-RegularSubset.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-RegularSubset.woff') format('woff'), url('/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-RegularSubset.ttf') format('truetype')
  src url('/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-RegularSubset.woff') format('woff'), url('/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-RegularSubset.ttf') format('truetype')

@font-face
  font-family 'NotoLight'
  font-style normal
  font-weight 300
  src url('/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-LightSubset.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-LightSubset.woff') format('woff'), url('/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-LightSubset.ttf') format('truetype')

@font-face
  font-family 'NotoThin'
  font-style normal
  font-weight 100
  src url('/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-ThinSubset.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-ThinSubset.woff') format('woff'), url('/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-ThinSubset.ttf') format('truetype')

@font-face
  font-family 'NotoDemiLight'
  font-style normal
  font-weight 100
  src url('/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-DemiLightSubset.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-DemiLightSubset.woff') format('woff'), url('/assets/fonts/NotoSansCJKjp/NotoSansCJKjp-DemiLightSubset.ttf') format('truetype')

@font-face
  font-family 'FuturaMdCnBT'
  src url('/assets/fonts/Futura/FuturaMdCnBT-Medium.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Futura/FuturaMdCnBT-Medium.woff2') format('woff2'), url('/assets/fonts/Futura/FuturaMdCnBT-Medium.woff') format('woff'), url('/assets/fonts/Futura/FuturaMdCnBT-Medium.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Futura-Med'
  // src url('/assets/fonts/Futura/Futura-Med.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Futura/Futura-Med.woff2') format('woff2'), url('/assets/fonts/Futura/Futura-Med.woff') format('woff'), url('/assets/fonts/Futura/Futura-Med.ttf') format('truetype')
  src url('/assets/fonts/Futura/Futura-Med.woff2') format('woff2'), url('/assets/fonts/Futura/Futura-Med.woff') format('woff'), url('/assets/fonts/Futura/Futura-Med.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'Futura-Boo'
  src url('/assets/fonts/Futura/Futura-Boo.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Futura/Futura-Boo.woff2') format('woff2'), url('/assets/fonts/Futura/Futura-Boo.woff') format('woff'), url('/assets/fonts/Futura/Futura-Boo.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'FuturaStdBold'
  src url('/assets/fonts/Futura/FuturaStdBold.woff2') format('woff2'), url('/assets/fonts/Futura/FuturaStdBold.woff') format('woff'), url('/assets/fonts/Futura/FuturaStdBold.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'YanoneKaffeesatz-Bold'
  src url('/assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Bold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Bold.woff2') format('woff2'), url('/assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Bold.woff') format('woff'), url('/assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Bold.ttf') format('truetype')
  font-weight normal
  font-style normal
