$base-width = 750
$pcex = 'screen and (min-width: 1441px)'
$pc = 'screen and (min-width: 768px)'
$pc-range-m = 'screen and (min-width: 768px) and (max-width: 1440px)'
$tb = 'screen and (min-width: 768px) and (max-width: 960px)'
$sp = 'screen and (max-width: 767px)'