
.c-btn
  &--1
    display block
    // border 6px solid #000
    border 6px solid #000
    border-radius 8px
    background #fff
    color #000
    // padding per(41, 650) per(122, 650)
    padding per(34, 650) per(122, 650)
    width per(506, 650)
    // font-size (34 / 650) * 100vw
    font-size (34 / 506) * 100vw
    line-height 1
    font-weight bold
    text-align center
    position relative
    +pc()
      padding per(58, 2560) per(184, 2560)
      width per(633, 2200)
      // font-size (43 / 2560) * 100vw
      font-size (34.4 / 2560) * 100vw
      // font-size (43 / 2200) * 100vw
    &:after
      content ''
      display block
      // display inline-block
      // background url('/assets/images/top/ico_arrow01.svg') 50% 50% no-repeat
      background url('/assets/images/common/ico_arrow01.png') 50% 50% no-repeat
      background-size 100% auto
      position absolute
      right 0
      top 50%
      transform translate(-50%, -50%)
      width per(54, 506)
      height (54 / 506) * 100vw
      // padding-top per(54, 506)
      z-index 10
      +sp()
        line-height 2
      +pc()
        width per(66, 633)
        height (66 / 2560) * 100vw
        // padding-top per(66, 633)

  &--2
    display block
    border-radius 8px
    background #ed7473
    color #fff
    padding per(34, 650) per(122, 650)
    width per(506, 650)
    font-size (34 / 506) * 100vw
    line-height 1
    font-weight bold
    text-align center
    position relative
    +pc()
      padding per(58, 2560) per(184, 2560)
      width per(633, 2200)
      // font-size (43 / 2560) * 100vw
      font-size (34.4 / 2560) * 100vw
    &:after
      content ''
      display block
      background url('/assets/images/common/ico_arrow02.png') 50% 50% no-repeat
      background-size 100% auto
      position absolute
      right 0
      top 50%
      transform translate(-50%, -50%)
      width per(51, 506)
      height (51 / 506) * 100vw
      z-index 10
      +sp()
        line-height 2
      +pc()
        width per(51, 633)
        height (51 / 2560) * 100vw

