
.c-icon
  &--fb
    background url('/assets/images/common/ico_fb.png') 50% 50% no-repeat
    background-size 100% auto
    width 96px
    height 0
    padding-top 96px

  &--insta
    background url('/assets/images/common/ico_insta.png') 50% 50% no-repeat
    // background url('/assets/images/common/ico_insta.svg') 50% 50% no-repeat
    background-size 100% auto
    width 96px
    height 0
    padding-top 96px

  &--tw
    background url('/assets/images/common/ico_tw.png') 50% 50% no-repeat
    background-size 100% auto
    width 96px
    height 0
    padding-top 96px
