.p-modal
  visibility hidden

  &__head
    padding-bottom per(20, 550)
    margin-bottom per(50, 550)
    border-bottom (4 / 550) * 100vw dotted #000
    +pc()
      // padding-bottom per(40, 1956)
      // padding-bottom per(40, 2560)
      padding-bottom per(40, 1680)
      margin-bottom per(70, 1680)
      border-bottom (4 / 2560) * 100vw dotted #000

    &__date
      font-size (24 / 750) * 100vw
      +pc()
        // font-size (26 / 2560) * 100vw
        font-size (20.8 / 2560) * 100vw

    &__title
      font-size (42 / 750) * 100vw
      +pc()
        // font-size (70 / 2560) * 100vw
        font-size (56 / 2560) * 100vw
      &-sub
        font-weight bold
        font-size (28 / 750) * 100vw
        +pc()
          // font-size (36 / 2560) * 100vw
          font-size (28.8 / 2560) * 100vw

  &__desc
    p
      font-size (24 / 750) * 100vw
      line-height 2 !important
      margin-bottom per(50, 1956)
      font-family Futura-Med
      +pc()
        // font-size (30 / 2560) * 100vw
        font-size (24 / 2560) * 100vw
        line-height 1.6

      .tel
        color #000
        text-decoration none

    a
      font-size (26 / 750) * 100vw
      line-height 1.6
      margin-bottom per(50, 1956)
      color #ed7473
      text-decoration underline
      &:hover
        font-style italic
      +pc()
        // font-size (30 / 2560) * 100vw
        font-size (24 / 2560) * 100vw


      &.p-modal__tel
        font-size (24 / 750) * 100vw
        line-height 2 !important
        margin-bottom per(50, 1956)
        font-family Futura-Med
        color #000
        text-decoration none
        &:hover
          font-style normal
        +pc()
          // font-size (30 / 2560) * 100vw
          font-size (24 / 2560) * 100vw
          line-height 1.6

  h3
    font-size (68 / 750) * 100vw !important
    text-align center
    font-family Futura-Med
    +pc()
      // font-size (98 / 2560) * 100vw !important
      font-size (78.4 / 2560) * 100vw !important

  p
    line-height 1.4
    margin-bottom per(30, 550)
    +pc()
      margin-bottom per(30, 1956)

  &-wrap
    width 80%
    background #fff
    padding 10%

    &__title
      font-zise 30px

  // 画像のみのmodal
  &.-img
    .modal-body
      background none
      border-radius 0
      border none
      overflow visible
      text-align center

      .modal-img
        img
          width calc(600 / 750 * 100%)

          +sp()
            width calc(550 / 750 * 100%)

  // 画像のみのmodalcss おしまい
  &.is-open
    visibility visible

  &-overlay
    position fixed
    z-index 3000
    top 0
    bottom 0
    left 0
    right 0
    // background-color rgba(0, 0, 0, 0.8)
    // background-color rgba(237, 116, 115, 0.9)
    background-color rgba(237, 116, 115, 0.97)

    +sp()
      overflow-y scroll

  &-dialog
    position fixed
    // top 45%
    top 50%
    left 50%
    z-index 4000
    /* height: 100%; */
    // height (993 / 750) * 100vw
    height (840 / 750) * 100vw
    transform translate(-50%, -50%)
    // width per(1956,2589)
    // width 100%
    width per(650,750)
    overflow hidden
    +pc()
      // max-width 1600px
      // max-height: 1106px
      width per(1956,2560)
      // height (1352 / 2560) * 100vw
      height (1200 / 2560) * 100vw
      max-height 80vh
      // height auto
      // max-width 980px
      // max-height: 677px
    &.contact
      +sp()
        top 60%
        height (1102 / 750) * 100vw
        max-height 80vh
      +pc()
        // height (912 / 2560) * 100vw
        // height: 35.625vw;
        // height (820 / 2560) * 100vw
        // height (800 / 2560) * 100vw
        height (800 / 2560) * 100vw
        // height: 27.734375vw;
        max-height 80vh

  &-content
    // width 510px
    margin 0 auto
    overflow-y scroll
    +sp()
      width 100%
      height 100%
    // +sp()
    //   width calc(100% - 20px)
    +pc()
      // width per(1956, 2560)
      width 100%
      height 100%

    .swiper-slide
      .swiper-content
        width 100%
      img
        width 100%

  &-body
    background #fff
    // border 3px solid #1eb9ee
    // border-radius 20px
    overflow hidden
    position relative
    z-index 1
    padding per(50, 650)
    +pc()
      padding per(138, 1956)


  &-close
    position absolute
    width per(120, 750)
    height (120 / 750) * 100vw
    top (40 / 750) * 100vw
    right (40 / 2560) * 100vw
    cursor pointer
    +pc()
      width per(145, 2560)
      // height (120 / 750) * 100vw
      height (145 / 2560) * 100vw
      top (78 / 2560) * 100vw
      right (78 / 2560) * 100vw

    &:before,
    &:after
      content ''
      position absolute
      display inline-block
      background-color #fff
      top 50%
      left 50%
      width (4 / 750) * 100vw
      height (120 / 750) * 100vw
      +pc()
        width (5 / 2560) * 100vw
        height (145 / 2560) * 100vw

    &:before
      transform translate(-50%, -50%) rotate(45deg)
    &:after
      transform translate(-50%, -50%) rotate(-45deg)

    img
      width 100%

    &.-buttonType
      width 220px
      margin 20px auto 0

      +sp()
        width calc(100% - 40%)


  &-contact
    margin-top per(124, 2560)
    &__link
      width 100%
      text-align center
      +pc()
        padding 0 per(122, 2560)
      &:nth-of-type(1)
        +sp()
          padding-bottom per(90, 650)
          border-bottom (4 / 650) * 100vw dotted #000
          margin-bottom per(78, 650)
        +pc()
          width per(841, 1688)
          border-right (4 / 2560) * 100vw dotted #000
          // &:after
          //   content ''
          //   display block
          //   width per(4, 2560)
          //   height 100%
          //   border-bottom (4 / 650) * 100vw dotted #000
      &:nth-of-type(2)
        +sp()
          margin-bottom per(70, 650)
        +pc()
          width per(837, 1688)
    &__title
      font-size (60 / 750) * 100vw
      +pc()
        // font-size (80 / 2560) * 100vw
        font-size (64 / 2560) * 100vw
    &__sub
      font-family Noto
      font-weight bold
      font-size (28 / 750) * 100vw
      margin-bottom per(44, 650)
      +pc()
        // font-size (32 / 2560) * 100vw
        font-size (25.6 / 2560) * 100vw
        margin-bottom per(50, 607)

    &__btn
      .c-btn--2
        width 100%
        // padding per(34, 650) per(10, 650)
        // padding per(34, 550) per(10, 650)
        // padding per(48, 550) per(10, 650)
        padding per(42, 550) per(10, 650)
        // font-size (22 / 750) * 100vw
        // font-size (36 / 750) * 100vw
        // font-size 3.8vw
        font-size 4.4vw
        letter-spacing .3rem
        border-radius 6px
        +pc()
          // width per(607, 839)
          width per(820, 839)
          margin auto
          font-size (24 / 2560) * 100vw
          // padding per(34, 607)
          padding per(34, 607) per(10, 607)
          letter-spacing .1rem
        &:after
          width per(51, 630)
          height (51 / 750) * 100vw
          +pc()
            // width per(51, 539)
            // height (51 / 2560) * 100vw
            width per(32, 539)
            // height (51 / 2560) * 100vw
            height (32 / 1680) * 100vw
        &:hover
          font-style italic


// モーダル内のスライダーCSSを下記に記載
.modal-body .swiper-slide,
.modal-body .swiper-img
  img
    width 100%

.modal-body .swiper-text
  width calc(100% - 10px)
  padding 15px 25px 10px
  margin 5px auto 0
  font-size 1.3rem
  // background url('../images/bg_hex.png') no-repeat top center
  // background-size 100%
  text-align left
  font-weight normal
  line-height 1.5
  color #5e5e5e

  dl
    padding 0 0 10px
    text-align left

  dt
    font-size 1.6rem
    margin-bottom 10px
    font-weight bold
    color #1eb9ee

  dd
    font-size 1.3rem
    font-weight normal
    line-height 1.8
    color #5e5e5e

// .modal-body .swiper-button
.p-modal-body .swiper-button
  display none
  width calc(100% - 10px)
  min-height 40px
  margin 0 auto 5px
  position relative
  background url('/assets/images/gallery/bg_hex.png') no-repeat bottom center
  background-size 100%

  .swiper-button-prev,
  .swiper-button-next
    width 35px
    height 35px
    // border 3px solid #1eb9ee
    border-radius 50%
    background url('/assets/images/gallery/ic_arr.svg') no-repeat center center
    background-size 7px

  .swiper-button-next
    transform rotate(180deg)

  .swiper-numbers
    display flex
    justify-content center
    align-items center
    position absolute
    top 50%
    left 50%
    font-size 1.3rem
    font-weight bold
    // color #1eb9ee
    text-align center
    letter-spacing 0.5em
    transform translate(-50%, -50%)



.p-modal-dialog
  &.movie
    +sp()
      transform translate(-50%, -25%)
    +pc()
      // width per(1956,2560)
      // height (1222 / 2560) * 100vw
      max-width 1024px
      max-height 100%
      height auto
      overflow auto

    .p-modal-content
      // overflow-y visible
      overflow-y hidden
      position relative
      .p-modal-body
        position relative
        width 100%
        padding: 62.5% 0 0
      .swiper-container
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)
        width 100% !important
        height 100% !important
      .swiper-slide
        iframe
          width 100%
          height 100%