//- extend _template
extend /_dev/_include/_layout

block vars
  - title = 'MENU｜THE PIG & THE LADY｜OFFICIAL WEBSITE'
  - description = 'THE PIG & THE LADYの料理は、フランス料理出身のオーナーシェフ アンドリュー・レイの母親が作るベトナム料理が大切なルーツとなっており、母親の作り出す秘伝の“出汁”が重要で、それを使用した料理の数々が人気を集める要因の一つです。'
  - keywords = 'THE PIG & THE LADY,ザピッグアンドザレディ,ハワイ,ベトナム料理,モダンベトナムレストラン'
  - img = 'https://thepigandthelady.jp/assets/images/share/ogp.jpg'
  - url = 'https://thepigandthelady.jp'

block main


  //- .p-menu(data-module="loadToTop")
  .p-menu
    header
      //- .p-splash__navigation__wrapper
      .p-lower__navigation__wrapper
        include /_dev/_include/_inc_lower_nav.pug
      .p-burger_wrapper(data-module="burgerMenu FixNavigationLower")
        .l-col.l-col--2
          .p-burger_space
          include /_dev/_include/_inc_burger_menu.pug

    .p-content

      .p-menu-nav(data-module="FixMenuNav")
        .l-inner
          ul.p-menu-nav__food
            li
              a(href="#lunch") LUNCH
            li
              a(href="#dinner") DINNER
            li
              a(href="#drink") DRINK
            li
              a(href="#sweets") SWEETS
          ul.p-menu-nav__pdf
            li
              a(href="#")
                span.u-spOnly LUNCH 
                |PDF
            li
              a(href="#")
                span.u-spOnly DINNER 
                |PDF
            li
              a(href="#")
                span.u-spOnly DRINK 
                |PDF
            li
              a(href="#")
                span.u-spOnly SWEETS 
                |PDF


      h2 MENU

      .p-section
        .l-inner
          .p-menu-showbtn(data-module='MenuAllImageShow')
            |ALL PHOTOS CLICK HERE

          .p-menu-wrap

            //- .p-menu-showbtn(data-module='MenuAllImageShow')
            //-   |ALL PHOTOS CLICK HERE

            #lunch.p-menu-group
              .p-menu-info
                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='/assets/images/menu/img_food_01.jpg' data-caption='01. PHO CHAY' data-jp-caption='ベジタブルフォー')
                  h3 01. PHO CHAY
                  p.p-sub-title ベジタブルフォー
                  p.u-font-noto 野菜と昆布ベースのスープ、米粉麺、マッシュルーム、トマト、フライドエシャロット、ネギ、ハーブ、黒コショウ、シークワーサー
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  //- .p-menu-item__img.is-show
                  .p-menu-item__img
                    img(src=`/assets/images/menu/img_food_01.jpg` alt='PHO CHAY')

                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Hold.jpg' data-caption='02. PHO BO' data-jp-caption='牛肉のフォー')
                  h3 02. PHO BO
                  p.p-sub-title 牛肉のフォー
                  p.u-font-noto ぎゅうベースのスープ、米粉麺、牛肉、牛バラ肉、ネギ、ベトナム風パクチー、黒コショウ、シークワーサー、生姜
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  .p-menu-item__img
                    img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Hold.jpg` alt='PHO BO')

                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Avo_Toast.jpg' data-caption='03. FRIED DAIKON RICE CAKE' data-jp-caption='アンドリューのフライドチキン')
                  h3 03. FRIED DAIKON RICE CAKE
                  p.p-sub-title アンドリューのフライドチキン
                  p.u-font-noto 手羽先、ライム、エシャロット、ピーナッツ、赤キャベツ、マニーソース
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  //- .p-menu-item__img.is-show
                  .p-menu-item__img
                    img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Avo_Toast.jpg` alt='PHO CHAY')

                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Rug.jpg' data-caption='04. FRENCH DIP BANH MI' data-jp-caption='牛バラのバインミー フレンチディップスタイル')
                  h3 04. FRENCH DIP BANH MI
                  p.p-sub-title 牛バラのバインミー フレンチディップスタイル
                  p.u-font-noto 12時間焼いた牛バラ、ホイズンソース、バジルペースト、もやし&玉ねぎ、バゲット、フォーのスープ(バインミーをディップする用)&自家製なます
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  .p-menu-item__img
                    img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Rug.jpg` alt='PHO BO')

            #dinner.p-menu-group
              .p-menu-info
                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Sorrel_Works.jpg' data-caption='01. CHINESE PORK SAUSAGE & FERMENTED SHRIMP' data-jp-caption='豚肉のソーセージ&発酵エビ')
                  h3 01. CHINESE PORK SAUSAGE &amp; FERMENTED SHRIMP
                  p.p-sub-title 豚肉のソーセージ&amp;発酵エビ
                  p.u-font-noto 焼いたライスペーパー、豚肉のソーセージ、発酵エビ、揚げエシャロット、チーズ、ハラペーニョ、ネギ、パクチー、卵
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  .p-menu-item__img
                    img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Sorrel_Works.jpg` alt='PHO CHAY')

                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Hash.jpg' data-caption='02. BURMESE TEA SALAD' data-jp-caption='バーミーズ ティーサラダ')
                  h3 02. BURMESE TEA SALAD
                  p.p-sub-title バーミーズ ティーサラダ
                  p.u-font-noto グリーンパパイア、トマト、エシャロット、にんにく、ゴマ、ナッツ、塩レモン、発行したお茶の葉
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  .p-menu-item__img
                    img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Hash.jpg` alt='PHO BO')

            #drink.p-menu-group
              .p-menu-info
                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Chicken_Porr_Egg_B.jpg' data-caption="01. DAD'S TOAST" data-jp-caption="DAD'S トースト")
                  h3 01. DAD'S TOAST
                  p.p-sub-title DAD'S トースト
                  p.u-font-noto ソーセージ、イワシ、トマトソース、バゲット
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  .p-menu-item__img
                    img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Chicken_Porr_Egg_B.jpg` alt='PHO CHAY')

                .p-menu-item.hasimage(data-module='MenuImageShow' data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Quiche.jpg' data-caption="02. MOM'S PATE CHAUD" data-jp-caption="MOM'S パテ")
                  h3 02. MOM'S PATE CHAUD
                  p.p-sub-title MOM'S パテ
                  p.u-font-noto 豚肉のパイ包み焼き、豚レバーのムース、ハラペーニョピクルス
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  //- .item-img-container
                  .p-menu-item__img
                    img(src=`https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Quiche.jpg` alt='PHO BO')


            .p-menu-thumb
              .p-menu-thumb__wrap#menu-thumb
                //- img(src=`/assets/images/menu/img_food_01.jpg` alt='PHO CHAY')
                //- p.p-menu-thumb__name 01. PHO CHAY
                //- p.p-menu-thumb__name--jp ベジタブルフォー



      //- 以下modal（contace）
      //- #js-galleryModal.p-modal
      #js-modal00.p-modal
        //- #js-galleryModalOverlay.p-modal-overlay
        #js-modalOverlay00.p-modal-overlay
          #js-modalClose00.p-modal-close

        .p-modal-dialog
          .p-modal-content
            //- .p-modal-header
              //- #js-galleryModalClose.p-modal-close
                //- img(
                //-   src="/assets/images/common/ic_close.png"
                //-   alt=""
                //-   decoding="async"
                //- )
            .p-modal-body

              //- #js-galleryModalSwiper.swiper-container
              #js-modalSwiper00.swiper-container
                .swiper-wrapper

                  //- 1（contact）
                  .swiper-slide
                    .swiper-content
                      .swiper-content__title Contacg
                      .swiper-content__desc
                        p dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy 
                        p dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy
                        p dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy


      //- 以下modal（contace）
      //- #js-galleryModal.p-modal
      #js-contanc-modal.p-modal
        //- #js-galleryModalOverlay.p-modal-overlay
        #js-contanc-modalOverlay.p-modal-overlay
          #js-contanc-modalClose.p-modal-close

        .p-modal-dialog.contact
          .p-modal-content
            .p-modal-body
              //- #js-galleryModalSwiper.swiper-container
              #js-contanc-modalSwiper.swiper-container
                .swiper-wrapper

                  //- 1（contact）
                  .swiper-slide
                    .swiper-content
                      h3 CONTACT US
                      .p-modal-contact
                        .l-col.l-col--2
                          .p-modal-contact__link.l-col__item
                            .p-modal-contact__title FOR THE STORE
                            .p-modal-contact__sub 店舗についてのお問い合わせ
                            .p-modal-contact__btn
                              a.c-btn--2(href='mailto:infothepigandthelady@transit-web.com') MAIL
                          .p-modal-contact__link.l-col__item
                            .p-modal-contact__title FOR THE PRESS
                            .p-modal-contact__sub プレスについてのお問い合わせ
                            .p-modal-contact__btn
                                a.c-btn--2(href='mailto:tgo-press@transit-web.com') MAIL

  //- 予約フォーム
  //- .p-reservation(data-module='ReservationScroll')
  .p-reservation(data-module='Reservation')
    //- #tc-widget(data-autolang='true', data-lang='ja', data-layout='vertical', data-theme='clear', data-shop-id='thepigandthelady')
    #tc-widget(data-autolang='true', data-lang='ja', data-layout='horizontal', data-theme='clear', data-shop-id='thepigandthelady')
    .p-reservation__btn
      |RESERVATION
      br
      span 予約検索


