//- extend _template
extend /_dev/_include/_layout

block vars
  - title = 'MENU｜THE PIG & THE LADY｜OFFICIAL WEBSITE'
  - description = 'THE PIG & THE LADYの料理は、フランス料理出身のオーナーシェフ アンドリュー・レイの母親が作るベトナム料理が大切なルーツとなっており、母親の作り出す秘伝の“出汁”が重要で、それを使用した料理の数々が人気を集める要因の一つです。'
  - keywords = 'THE PIG & THE LADY,ザピッグアンドザレディ,ハワイ,ベトナム料理,モダンベトナムレストラン'
  - img = 'https://thepigandthelady.jp/assets/images/share/ogp.jpg'
  - url = 'https://thepigandthelady.jp'

block main


  .p-menu(data-module="loadToTop")
    header
      //- .p-splash__navigation__wrapper
      .p-lower__navigation__wrapper
        include /_dev/_include/_inc_lower_nav.pug
      .p-burger_wrapper(data-module="burgerMenu FixNavigationLower")
        .l-col.l-col--2
          .p-burger_space
          include /_dev/_include/_inc_burger_menu.pug

    .p-content

      .p-menu-nav(data-module="FixMenuNav")
        .l-inner
          ul.p-menu-nav__food
            li
              a(href="#lunch") LUNCH
            li
              a(href="#dinner") DINNER
            li
              a(href="#drink") DRINK
            li
              a(href="#sweets") SWEETS
          ul.p-menu-nav__pdf
            li
              a(href="#") PDF
            li
              a(href="#") PDF
            li
              a(href="#") PDF
            li
              a(href="#") PDF


      h2 MENU

      .p-section
        .l-inner
          .p-menu-wrap
            #lunch.p-menu-group
              .p-menu-info
                .p-menu-item.hasimage(data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Hold.jpg' data-caption='Hold The Rice')
                  h3 01. PHO CHAY
                  p.p-sub-title ベジタブルフォー
                  p.u-font-noto 野菜と昆布ベースのスープ、米粉麺、マッシュルーム、トマト、フライドエシャロット、ネギ、ハーブ、黒コショウ、シークワーサー
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  .item-img-container
                  img(src=`/assets/images/menu/img_food_01.jpg` alt='PHO CHAY')

                .p-menu-item.hasimage(data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Hold.jpg' data-caption='Hold The Rice')
                  h3 02. PHO BO
                  p.p-sub-title 牛肉のフォー
                  p.u-font-noto ぎゅうベースのスープ、米粉麺、牛肉、牛バラ肉、ネギ、ベトナム風パクチー、黒コショウ、シークワーサー、生姜
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  .item-img-container
                  img(src=`/assets/images/menu/img_food_01.jpg` alt='PHO BO')

            #dinner.p-menu-group
              .p-menu-info
                .p-menu-item.hasimage(data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Hold.jpg' data-caption='Hold The Rice')
                  h3 01. PHO CHAY
                  p.p-sub-title ベジタブルフォー
                  p.u-font-noto 野菜と昆布ベースのスープ、米粉麺、マッシュルーム、トマト、フライドエシャロット、ネギ、ハーブ、黒コショウ、シークワーサー
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  .item-img-container
                  img(src=`/assets/images/menu/img_food_01.jpg` alt='PHO CHAY')

                .p-menu-item.hasimage(data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Hold.jpg' data-caption='Hold The Rice')
                  h3 02. PHO BO
                  p.p-sub-title 牛肉のフォー
                  p.u-font-noto ぎゅうベースのスープ、米粉麺、牛肉、牛バラ肉、ネギ、ベトナム風パクチー、黒コショウ、シークワーサー、生姜
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  .item-img-container
                  img(src=`/assets/images/menu/img_food_01.jpg` alt='PHO BO')

            #drink.p-menu-group
              .p-menu-info
                .p-menu-item.hasimage(data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Hold.jpg' data-caption='Hold The Rice')
                  h3 01. PHO CHAY
                  p.p-sub-title ベジタブルフォー
                  p.u-font-noto 野菜と昆布ベースのスープ、米粉麺、マッシュルーム、トマト、フライドエシャロット、ネギ、ハーブ、黒コショウ、シークワーサー
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  .item-img-container
                  img(src=`/assets/images/menu/img_food_01.jpg` alt='PHO CHAY')

                .p-menu-item.hasimage(data-image='https://s3-us-west-2.amazonaws.com/com.sqirlla.images/DIS_Hold.jpg' data-caption='Hold The Rice')
                  h3 02. PHO BO
                  p.p-sub-title 牛肉のフォー
                  p.u-font-noto ぎゅうベースのスープ、米粉麺、牛肉、牛バラ肉、ネギ、ベトナム風パクチー、黒コショウ、シークワーサー、生姜
                  p.p-menu-item__desc
                    |Vegetable and kelp-based soup, rice flour noodles, mushrooms, tomatoes, fried shallots, leeks, herbs, black pepper, shikwasa
                  .item-img-container
                  img(src=`/assets/images/menu/img_food_01.jpg` alt='PHO BO')


            .p-menu-thumb
                figure#menu-image
                  img(src=`/assets/images/menu/img_food_01.jpg` alt='Hold The Rice')













