//- extend _template
extend /_dev/_include/_layout

block vars
  - title = 'ABOUT｜THE PIG & THE LADY｜OFFICIAL WEBSITE'
  - description = 'ハワイの文化を取り入れることでオリジナリティ溢れる新感覚のモダンベトナムレストランとして確立しており、「THE PIG & THE LADY」の料理を求め、ハリウッドスターやモデルたちが足繁く通うほどのハワイで最も人気のあるモダンベトナムレストランです。'
  - keywords = 'THE PIG & THE LADY,ザピッグアンドザレディ,ハワイ,ベトナム料理,モダンベトナムレストラン'
  - img = 'https://thepigandthelady.jp/assets/images/share/ogp.jpg'
  - url = 'https://thepigandthelady.jp'

block main

  //- .p-pig.top#top(data-module="loadToTop")
  .p-about

    header
      .p-lower__navigation__wrapper
        include /_dev/_include/_inc_lower_nav.pug
      .p-burger_wrapper(data-module="burgerMenu FixNavigationLower")
        .l-col.l-col--2
          .p-burger_space
          include /_dev/_include/_inc_burger_menu.pug

    .p-content

      h2 ABOUT
      .p-section
        .l-inner
          .p-about-kv
            img(src=`/assets/images/about/img_kv.jpg` alt="")

      .p-section
        .l-inner
          .p-about-concept
            .u-txtCenter.p-about-concept__head
              h3 CONCEPT
              p.p-about-concept__lead
                |ハワイで最も人気のある
                br.u-spOnly
                |モダンベトナムレストラン
              p.p-about-concept__lead--small
                |Vietnamese restaurant from Hawaii
            .l-col.l-col--2.p-about-concept__text
              p.p-about-concept__text--jp
                |2019年 秋 ハワイ・ホノルルで最も人気のあるベトナムレストラン「THE PIG & THE LADY」が恵比寿に日本初上陸！
                br
                |「THE PIG & THE LADY」の料理は、フランス料理出身のオーナーシェフ アンドリュー・レイの母親が作るベトナム料理が大切なルーツとなっており、母親の作り出す秘伝の“出汁”が重要で、それを使用した料理の数々が人気を集める要因の一つです。
                br
                |母親が作るベトナム料理をベースに、アンドリューが培ってきたフレンチのエッセンスを取り入れると共に、ハワイの文化を取り入れることでオリジナリティ溢れる新感覚のモダンベトナムレストランとして確立しており、「THE PIG & THE LADY」の料理を求め、ハリウッドスターやモデルたちが足繁く通うほどのハワイで最も人気のあるモダンベトナムレストランです。
              p
                |Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text tex

            .l-col.l-col--2.l-col__align--center
              .p-about-concept__figure
                img(src=`/assets/images/about/img_about01.jpg` alt="")
              .p-about-concept__figure
                img(src=`/assets/images/about/img_about02.jpg` alt="")

      .p-section
        .l-inner
          .p-about-story
            h3.u-txtCenter BRAND STORY
            .p-about-story__movie
              img(src=`/assets/images/about/img_story01.jpg` alt="")

      .p-section
        .l-inner
          .p-about-owners
            .l-col.l-col--2
              .p-about-owners__desc
                .u-txtCenter
                h3.u-pcOnly OWNERS COMMENT
                p.p-about-owners__desc--jp
                  |オーナーのアンドリュー・レイ 氏は、ベトナム系二世。ニューヨークの料理学校を卒業後、ハワイで5つ星を獲得したコンテンポラリー・フレンチレストラン【シェフ マブロ】でスーシェフまで上り詰め、ホノルルのファーマーズマーケットに出店し爆発的な人気を呼び、2013年、チャイナタウンに「THE PIG & THE LADY」を開業しました。
                  br
                  |また、2016年には、「THE PIG & THE LADY」の姉妹店となる「PIGGY SMALLS」を開業しハワイで話題のレストランとして、さらに人気を博しているほか、2019年8月9日(金)フード、ドリンク、トラベル、エンタメの情報を提供するライフスタイルメディアサイト「Thrillist」が主催する名誉ある賞「TOP 28 Best Vietnamese Restaurants in America」を受賞いたしました。
                p
                  |Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text Text text
              .p-about-owners__figure
                h3.u-spOnly OWNERS COMMENT
                img(src=`/assets/images/about/img_owners01.jpg` alt="")
                p.p-about-owners__figure__name ANDREW LE
                p.p-about-owners__figure__name--jp
                  span アンドリュー・レイ

            .p-about-owners__figure
              img(src=`/assets/images/about/img_about03.jpg` alt="")


      .p-section#access
        .l-inner
          .p-about-access
            h3.u-txtCenter ACCESS
            .l-col.l-col--2
              .p-about-access__figure
                img(src=`/assets/images/about/img_access01.jpg` alt="")
              .p-about-access__info

                dl
                  dt ADDRESS
                  dd
                    span 東京都渋谷区恵比寿南1-4-15
                    br
                    span 恵比寿銀座クロスビル2階
                  dd
                    |Ebisu Ginza Cross Bldg.2F, 1-4-15, 
                    br
                    |Ebisu-Minami, Shibuya-ku,Tokyo
                a.c-link--1(href='')
                  |GOOGLE MAP

                dl
                  dt OPEN
                  dd
                    span 平日 
                    |11:00 - 16:00 / 17:00 - 23:00
                    br
                    |(L.O. FOOD 22:00 / DRINK 22:30)
                  dd
                    span 土日 ・ 祝 
                    |11:00 - 23:00
                    br
                    |(L.O. FOOD 22:00 / DRINK 22:30)
                  dt TEL
                  dd
                    |050-1743-1650
                  dt SHEET
                  dd
                    |88
                    span 席
                  dt AREA
                  dd
                    |230.80㎡


      //- 以下modal（contace）
      //- #js-galleryModal.p-modal
      #js-modal00.p-modal
        //- #js-galleryModalOverlay.p-modal-overlay
        #js-modalOverlay00.p-modal-overlay
          #js-modalClose00.p-modal-close

        .p-modal-dialog
          .p-modal-content
            //- .p-modal-header
              //- #js-galleryModalClose.p-modal-close
                //- img(
                //-   src="/assets/images/common/ic_close.png"
                //-   alt=""
                //-   decoding="async"
                //- )
            .p-modal-body

              //- #js-galleryModalSwiper.swiper-container
              #js-modalSwiper00.swiper-container
                .swiper-wrapper

                  //- 1（contact）
                  .swiper-slide
                    .swiper-content
                      .swiper-content__title Contacg
                      .swiper-content__desc
                        p dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy 
                        p dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy
                        p dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy dummy



      //- 以下modal（contace）
      //- #js-galleryModal.p-modal
      #js-contanc-modal.p-modal
        //- #js-galleryModalOverlay.p-modal-overlay
        #js-contanc-modalOverlay.p-modal-overlay
          #js-contanc-modalClose.p-modal-close

        .p-modal-dialog.contact
          .p-modal-content
            .p-modal-body
              //- #js-galleryModalSwiper.swiper-container
              #js-contanc-modalSwiper.swiper-container
                .swiper-wrapper

                  //- 1（contact）
                  .swiper-slide
                    .swiper-content
                      h3 CONTACT US
                      .p-modal-contact
                        .l-col.l-col--2
                          .p-modal-contact__link.l-col__item
                            .p-modal-contact__title FOR THE STORE
                            .p-modal-contact__sub 店舗についてのお問い合わせ
                            .p-modal-contact__btn
                              a.c-btn--2(href='mailto:infothepigandthelady@transit-web.com') MAIL
                          .p-modal-contact__link.l-col__item
                            .p-modal-contact__title FOR THE PRESS
                            .p-modal-contact__sub プレスについてのお問い合わせ
                            .p-modal-contact__btn
                                a.c-btn--2(href='mailto:tgo-press@transit-web.com') MAIL


  //- 予約フォーム
  //- .p-reservation(data-module='ReservationScroll')
  .p-reservation(data-module='Reservation')
    #tc-widget(data-autolang='true', data-lang='ja', data-layout='vertical', data-theme='clear', data-shop-id='thepigandthelady')
    .p-reservation__btn
      |RESERVATION
      br
      span 予約検索


