mixin about-title-01-04

  div
    div(style='padding-top:100%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 42 42' style='position: absolute')
        path(d='M39.013.12a5.73 5.73 0 0 1-1.74.18h-32.4A37.616 37.616 0 0 1 .013 0v2.16c1.5-.06 2.76-.12 4.8-.12h33.418c-.84 6.36-4.14 16.26-8.64 22.14C24.372 30.96 17.652 35.94 6.313 39l1.62 1.79c11.279-3.47 17.579-8.63 23.1-15.53 4.5-5.64 7.68-15.66 8.88-22.38a6.161 6.161 0 0 1 .48-1.86z', fill-rule='evenodd')
