mixin about-title-01-08

  div
    div(style='padding-top:97.9166666%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 48 47' style='position: absolute')
        path(d='M9.839.01l-1.02 1.5a129.022 129.022 0 0 1 12.239 8.46l1.2-1.56c-2.1-1.62-9.3-6.6-12.419-8.4zm-6.9 43.2l1.08 1.85c5.82-1.32 13.739-3.89 19.739-7.49 9.359-5.58 17.459-13.5 22.319-21.3l-1.2-1.74a61.27 61.27 0 0 1-22.079 21.48 64.63 64.63 0 0 1-19.859 7.2zm-1.92-29.88l-1.02 1.56a114.64 114.64 0 0 1 12.539 7.86l1.08-1.68c-2.1-1.56-9.539-6.06-12.599-7.74z', fill-rule='evenodd')
