mixin about-title-01-07

  div
    div(style='padding-top:113.6363636%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 44 50' style='position: absolute')
        path(d='M41.159 8.42a5.538 5.538 0 0 1-2.64.42H18.06A49.522 49.522 0 0 0 20.7 4.1c.48-.96 1.08-2.28 1.62-3.3L20.04.02a17.243 17.243 0 0 1-1.02 3.24C16.74 8.84 10.201 18.56.001 24.5l1.62 1.2a52.96 52.96 0 0 0 15.3-15.06H40.56a55.234 55.234 0 0 1-10.62 21.12A48.036 48.036 0 0 1 6.182 46.99l1.62 1.56c11.219-3.89 18.359-9.35 23.578-15.71a56.891 56.891 0 0 0 10.8-21.3 13.155 13.155 0 0 1 .78-2.1z', fill-rule='evenodd')
