mixin about-title-01-06

  div
    div(style='padding-top:95.6521739%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 46 44' style='position: absolute')
        path(d='M2.758 0l-1.2 1.26a125.66 125.66 0 0 1 14.879 12.18l1.38-1.38A139.335 139.335 0 0 0 2.758 0zm-2.76 40.44l1.2 1.91A66.107 66.107 0 0 0 26.157 32.1c8.459-5.58 14.459-13.62 18.119-20.4l-1.14-1.86a55.241 55.241 0 0 1-18.179 20.88A61.119 61.119 0 0 1-.002 40.44z', fill-rule='evenodd')
