mixin about-title-01-09

  div
    div(style='padding-top:105.8823529%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 34 36' style='position: absolute')
        path(d='M32.148 34.26c-.06-.72-.12-1.44-.12-2.4V2.17a17.6 17.6 0 0 1 .06-2.04c-.66 0-1.5.06-2.82.06H5.629C4.67.19 1.49.13.77.01v2.1c.72 0 3.9-.12 4.859-.12h24.6v12.72H5.989c-1.8 0-3.359-.18-4.139-.24v2.16c.96-.06 2.34-.12 4.2-.12h24.179v13.38H4.67a41.455 41.455 0 0 1-4.68-.24v2.21c.96 0 2.7-.12 4.74-.12h25.5v.18a20.808 20.808 0 0 1-.06 2.34h1.98z', fill-rule='evenodd')
