mixin about-title-01-03

  div
    div(style='padding-top:91.6666666%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 49 44' style='position: absolute')
        path(d='M19.921 19.32c-3.6 12.06-7.92 16.2-10.679 16.2-2.88 0-7.44-3.66-7.44-12.66 0-9.54 8.7-20.28 21.539-21a93.663 93.663 0 0 1-3.42 17.46zm4.32 22.85C37.5 40.79 46.26 32.94 46.26 20.52 46.26 9.42 37.86 0 24.721 0 11.042 0 .002 10.8.002 22.92c0 9.6 5.16 14.52 9.12 14.52 4.559 0 8.939-5.22 12.6-17.64a118.064 118.064 0 0 0 3.48-18c12.239.24 19.259 9 19.259 18.66 0 11.82-9 17.7-16.679 19.26a33.735 33.735 0 0 1-4.62.54z', fill-rule='evenodd')
