mixin about-title-01-01

  div
    div(style='padding-top:132.3529411%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 34 45' style='position: absolute')
        path(data-name='４', d='M3.166 28.85L18.105 9.47c1.56-2.04 2.76-4.02 4.38-6.3h.24c-.12 2.76-.18 4.56-.18 6.66v19.02H3.166zm28.978 0h-7.44V-.01h-2.1L-.015 29.57v1.2h22.559v12.77h2.159V30.77h7.44v-1.92z', fill-rule='evenodd')
