mixin load-splash
  .p-loading.lower(data-module="pageTransition")
    .p-loading__bg(data-module-loading="bg")
    .kv.p-loading__visual(data-module-loading="visual")
    div.p-loading__loading-icon(data-module-loading="loading-icon")
      +logo-icon