mixin logo-icon
  div.p-logo-icon(data-lottie='{"type":"1"}')
    svg(viewBox='0 0 845.79 845.79' data-module='UaViewToggle')
      path(d='M845.79 408.64V0H437.16c201.21 49.06 359.58 207.42 408.63 408.64z')
    svg(viewBox='0 0 845.79 845.79' data-module='UaViewToggle')
      path(d='M0 437.16v408.63h408.64C207.42 796.73 49.06 638.37 0 437.16z')
