mixin nav-team

  div
    div(style='padding-top:21.216535%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 47.63 9.91'  style='position: absolute')
        path.character(d="M4.33,9.91h-1V.9H0V0H7.64V.9H4.33Z")
        path.character(d="M13.64,9h5.3v.89H12.63V0h6.14V.9H13.64V4.3h4.8v.89h-4.8Z")
        path.character(d="M24.58,9.91h-1.1L27.76,0h1L33,9.91H31.88l-1.1-2.6H25.66ZM26,6.38h4.37L28.22,1.12Z")
        path.character(d="M42.76,8.2h0L46.09,0h1.54V9.91h-1V1.3h0L43,9.91h-.53L38.9,1.3h0V9.91h-1V0H39.4Z")
