mixin nav-contact

  div
    div(style='padding-top:12.339520%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 85.95 10.42' style='position: absolute')
        path.character(d="M8.88,8.55a4.57,4.57,0,0,1-.61.72,4.26,4.26,0,0,1-.83.59,4.6,4.6,0,0,1-1,.41,4.76,4.76,0,0,1-1.23.15A5.28,5.28,0,0,1,3.09,10,4.84,4.84,0,0,1,1.46,8.94,4.92,4.92,0,0,1,.38,7.29,5.62,5.62,0,0,1,0,5.21,5.48,5.48,0,0,1,.39,3.12,4.86,4.86,0,0,1,1.48,1.48,4.76,4.76,0,0,1,3.12.39,5.27,5.27,0,0,1,5.17,0,5.47,5.47,0,0,1,6.24.11a5.63,5.63,0,0,1,1,.32,4.34,4.34,0,0,1,.84.5,2.58,2.58,0,0,1,.63.65l-.84.62a2.5,2.5,0,0,0-.41-.48,2.74,2.74,0,0,0-.61-.42A3.63,3.63,0,0,0,6.07,1,3.19,3.19,0,0,0,5.18.9a4,4,0,0,0-1.73.35,3.71,3.71,0,0,0-1.29.94,4,4,0,0,0-.82,1.37,5,5,0,0,0-.28,1.65,4.72,4.72,0,0,0,.29,1.64,4.08,4.08,0,0,0,.82,1.38,3.94,3.94,0,0,0,1.29.94,4.13,4.13,0,0,0,1.72.35A3.9,3.9,0,0,0,6.8,9.17,3,3,0,0,0,8.09,8.05Z")
        path.character(d="M23.35,5.21A5.43,5.43,0,0,1,23,7.29a4.92,4.92,0,0,1-1.08,1.65A5.09,5.09,0,0,1,20.24,10a5.48,5.48,0,0,1-4.11,0A4.94,4.94,0,0,1,14.5,8.94a4.8,4.8,0,0,1-1.09-1.65A5.43,5.43,0,0,1,13,5.21a5.48,5.48,0,0,1,.39-2.09A4.86,4.86,0,0,1,14.5,1.48,4.81,4.81,0,0,1,16.13.39a5.61,5.61,0,0,1,4.11,0A4.93,4.93,0,0,1,23,3.12,5.48,5.48,0,0,1,23.35,5.21Zm-1.06,0A5,5,0,0,0,22,3.57a4.12,4.12,0,0,0-.81-1.38,3.84,3.84,0,0,0-1.3-.94,4.38,4.38,0,0,0-3.43,0,3.71,3.71,0,0,0-1.29.94,4,4,0,0,0-.82,1.38,5,5,0,0,0,0,3.29,3.94,3.94,0,0,0,.82,1.37,3.71,3.71,0,0,0,1.29.94,4.38,4.38,0,0,0,3.43,0,3.84,3.84,0,0,0,1.3-.94A4.08,4.08,0,0,0,22,6.86,5,5,0,0,0,22.29,5.21Z")
        path.character(d="M35.56,8.69h0V.25h1v9.91H35.34L29.57,1.64h0v8.52h-1V.25h1.26Z")
        path.character(d="M45.8,10.16h-1v-9H41.47V.25h7.64v.9H45.8Z")
        path.character(d="M53.05,10.16H51.94L56.23.25h1l4.25,9.91H60.34l-1.09-2.6H54.13ZM54.5,6.64h4.37L56.69,1.37Z")
        path.character(d="M74.06,8.55a4.09,4.09,0,0,1-.61.72,4.19,4.19,0,0,1-.82.59,4.8,4.8,0,0,1-1,.41,4.84,4.84,0,0,1-1.24.15,5.23,5.23,0,0,1-2.07-.4,4.79,4.79,0,0,1-2.71-2.73,5.42,5.42,0,0,1-.38-2.08,5.48,5.48,0,0,1,.39-2.09,5,5,0,0,1,1.08-1.64A4.86,4.86,0,0,1,68.3.39a5.31,5.31,0,0,1,2-.39,5.39,5.39,0,0,1,1.07.11,6,6,0,0,1,1,.32,4.34,4.34,0,0,1,.84.5,3,3,0,0,1,.63.65L73,2.2a2.5,2.5,0,0,0-.41-.48A3,3,0,0,0,72,1.3,3.51,3.51,0,0,0,71.25,1,3.12,3.12,0,0,0,70.37.9a4,4,0,0,0-1.73.35,3.84,3.84,0,0,0-1.3.94,4.18,4.18,0,0,0-.81,1.37,4.77,4.77,0,0,0-.28,1.65,4.72,4.72,0,0,0,.29,1.64,4.08,4.08,0,0,0,.82,1.38,3.84,3.84,0,0,0,1.29.94,4.13,4.13,0,0,0,1.72.35A3.9,3.9,0,0,0,72,9.17a3.13,3.13,0,0,0,1.29-1.12Z")
        path.character(d="M82.63,10.16h-1v-9H78.31V.25H86v.9H82.63Z")

