mixin service-title-01-04

  div
    div(style='padding-top:77.4193548%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 62 48' style='position: absolute')
        path(d='M44.28 8.142a5.975 5.975 0 1 1 5.98 5.976 5.966 5.966 0 0 1-5.98-5.976zm-2.16 0A8.135 8.135 0 1 0 50.26.005a8.173 8.173 0 0 0-8.14 8.137zM0 33.056l2.09 2.016c.93-1.08 2.37-2.952 3.67-4.392 3.6-4.033 10.58-12.745 14.62-17.5 2.88-3.384 3.6-3.528 7.05-.72 3.6 2.952 9.51 9.217 14.84 15.049 5.04 5.545 11.66 12.314 17.06 19.3l1.66-1.8c-5.33-6.337-12.32-13.825-17.14-19.01-4.75-5.112-11.16-12.1-15.05-15.193-4.54-3.672-6.55-3.168-9.94.792-4.1 4.824-11.01 13.753-14.61 17.426-1.59 1.584-2.67 2.664-4.25 4.032z', fill-rule='evenodd')
