mixin service-title-03-10

  div
    div(style='padding-top:100.3298397%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 64.88 65.094' style='position: absolute')
        path(d='M53.77 28.368l-.57.144H33.4v-13.9h28.87v-2.161H33.4V-.003h-2.16v12.457H2.43v2.161h28.81v13.9H5.53v2.088H51.9c-4.17 8.857-11.09 15.625-19.51 20.738a49.83 49.83 0 0 1-17.86-20.594l-1.8.792a51.682 51.682 0 0 0 17.79 20.954c-9.08 5.04-19.66 8.353-30.53 10.369a9.917 9.917 0 0 1 1.29 1.944c11.09-2.232 21.89-5.617 31.11-11.017 8.64 5.544 19.22 9.361 31.1 11.3a9.1 9.1 0 0 1 1.37-1.872c-11.73-1.8-22.1-5.329-30.53-10.585 9-5.617 16.35-13.177 20.81-23.33z', fill-rule='evenodd')