mixin service-title-02-13

  div
    div(style='padding-top:87.7657124%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 60.78 53.344' style='position: absolute')
        path(d='M2.1 53.341a37.719 37.719 0 0 0 12.74-18.865c2.02-7.129 2.31-22.826 2.31-30.243a35.86 35.86 0 0 1 .21-3.816H14.7a22.76 22.76 0 0 1 .29 3.816c0 7.417 0 22.466-2.16 29.523A34.88 34.88 0 0 1 .01 51.901zm32.11-.432a11.951 11.951 0 0 1 1.87-1.152c8.57-4.176 18.22-11.161 24.7-20.233l-1.37-1.873c-6.12 9.289-16.77 16.706-24.19 20.234V4.449a35.131 35.131 0 0 1 .14-4.464h-2.59c.07.936.22 2.232.22 4.464v44.284a12.325 12.325 0 0 1-.36 2.808z', fill-rule='evenodd')