mixin service-title-02-10

  div
    div(style='padding-top:92.8643300%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 59.63 55.375' style='position: absolute')
        path(d='M59.64 54.307c-2.67-6.84-11.09-21.673-16.06-28.658l-1.94 1.08a128.332 128.332 0 0 1 10.08 16.418c-7.78 1.152-26.21 3.24-38.45 4.32 3.31-8.137 12.02-35 13.89-41.476A56.664 56.664 0 0 1 29.11.663L26.16.015A32.655 32.655 0 0 1 25 5.559c-1.87 6.7-10.65 33.843-14.25 42.124q-3.03.324-5.19.432a47.452 47.452 0 0 1-5.54.144l.5 2.736c1.87-.288 3.39-.5 5.19-.648 10.22-.864 36.58-3.888 47.02-5.256a104.851 104.851 0 0 1 4.6 10.3z', fill-rule='evenodd')
