mixin service-title-03-06

  div
    div(style='padding-top:95.6613358%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 53.15 50.844' style='position: absolute')
        path(d='M3.31-.002L1.87 1.51C7.34 5.038 16.2 12.671 19.73 16.127l1.66-1.656A167.348 167.348 0 0 0 3.31-.002zM0 48.53l1.44 2.3a79.4 79.4 0 0 0 29.95-12.313c10.16-6.7 17.36-16.345 21.75-24.482l-1.37-2.232c-3.74 8.065-11.88 18.434-21.82 25.058A73.245 73.245 0 0 1 0 48.53z', fill-rule='evenodd')