mixin service-title-03-09

  div
    div(style='padding-top:102.1037736%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 63.6 64.938' style='position: absolute')
        path(d='M10.31 40.024V28.287h20.45v11.737H10.31zM53.8 28.287v11.737H32.85V28.287H53.8zM19.46 9.349H44.3v8.209H19.46V9.349zm44.13 41.044H32.85v-8.281h23.04V26.199H32.85v-6.553h13.54v-10.3h15.98V7.258H46.39V-.015H44.3v7.273H19.46V-.015h-2.09v7.273H1.38v2.088h15.99v10.3h13.39v6.553H8.22v15.913h22.54v8.281H.01v2.088h30.75v12.457h2.09V52.481h30.74v-2.088z', fill-rule='evenodd')