mixin service-title-02-02

  div
    div(style='padding-top:4.8700950%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 55.81 2.718' style='position: absolute')
        path(data-name='ー', d='M.01 2.73c1.8-.144 4.61-.216 8.5-.216h40.32c3.38 0 5.76.144 6.98.216V-.006a62.516 62.516 0 0 1-7.05.288H8.51c-4.4 0-6.77-.144-8.5-.288V2.73z', fill-rule='evenodd')
