mixin service-title-02-12

  div
    div(style='padding-top:94.6410128%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 60.03 56.813' style='position: absolute')
        path(d='M44.27 15.56V5.119a47.405 47.405 0 0 1 .29-5.112h-2.73a49.076 49.076 0 0 1 .28 5.112V15.56h-23.9V4.183a37.667 37.667 0 0 1 .21-3.888h-2.59s.22 2.016.22 3.96v11.3H6.61c-2.52 0-6.62-.288-6.62-.288v2.664s3.96-.216 6.62-.216h9.44v13.537c0 2.233-.29 5.473-.29 5.473h2.66s-.21-3.384-.21-5.473V17.72h23.9v3.241c0 22.681-6.98 28.8-19.22 33.986l1.94 1.873c15.48-7.057 19.44-15.914 19.44-36.436V17.72h10.52c2.59 0 5.25.216 5.25.216v-2.661s-2.66.288-5.25.288H44.27z', fill-rule='evenodd')