mixin service-title-01-11

  div
    div(style='padding-top:105.5555555%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 54 57' style='position: absolute')
        path(d='M50.62-.008c-3.96 4.9-11.59 11.161-18.94 15.7A123.705 123.705 0 0 1 0 29.085l1.44 2.376a144.01 144.01 0 0 0 29.31-12.673v30.891a56.962 56.962 0 0 1-.29 5.9h2.74a54.255 54.255 0 0 1-.29-5.9v-32.19a110.011 110.011 0 0 0 19.58-15.7z', fill-rule='evenodd')
