mixin service-title-02-11

  div
    div(style='padding-top:100.8107531%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 46.87 47.25' style='position: absolute')
        path(d='M46.88 47.25s-.22-2.736-.22-5.4V4.763c0-1.224.08-2.953.15-4.465-1.66.072-2.95.072-4.39.072H7.78C5.62.37 3.03.226.94.01v2.74c1.37-.072 4.61-.216 6.91-.216H44.5v38.235H6.99c-2.74 0-5.76-.216-6.99-.36v2.736c1.52-.072 3.96-.144 7.06-.144H44.5c0 2.16-.14 4.248-.14 4.248h2.52z', fill-rule='evenodd')