mixin service-title-02-08

  div
    div(style='padding-top:97.7966715%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 55.28 54.062' style='position: absolute')
        path(d='M11.79-.007l-1.22 1.8a154.991 154.991 0 0 1 14.69 10.153l1.44-1.872C24.18 8.129 15.54 2.153 11.79-.007zM3.51 51.837l1.3 2.232c6.98-1.584 16.49-4.68 23.69-9 11.23-6.7 20.95-16.2 26.78-25.563l-1.44-2.088a73.506 73.506 0 0 1-26.49 25.779 77.59 77.59 0 0 1-23.84 8.64zm-2.3-35.859L-.02 17.85a137.165 137.165 0 0 1 15.05 9.433l1.3-2.016c-2.52-1.872-11.45-7.273-15.12-9.286z', fill-rule='evenodd')