mixin service-title-02-01

  div
    div(style='padding-top:86.6748899%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 56.75 49.188' style='position: absolute')
        path(d='M54.8.07a7.278 7.278 0 0 1-2.52.288H6.34A54.953 54.953 0 0 1 0-.002v2.737c1.3-.072 3.6-.216 6.34-.216H53c-3.75 6.912-13.76 19.8-26.79 29.234A178.722 178.722 0 0 0 11.52 19.44l-1.73 1.368a188.5 188.5 0 0 1 17.07 14.545c4.46 4.609 9.93 10.513 12.31 13.826l2.02-1.585c-2.74-3.384-8.28-9.216-12.6-13.609l-.8-.792a108.244 108.244 0 0 0 27.8-30.242 10.362 10.362 0 0 1 1.15-1.441z', fill-rule='evenodd')
