mixin service-title-01-01

  div
    div(style='padding-top:71.66666666%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 60 43' style='position: absolute')
        path(d='M30.09 39.316V2.449h19.23c2.01 0 4.1.072 5.61.216V0c-1.44.144-3.38.288-5.61.288H9.43C8.42.288 6.04.216 4.17 0v2.665c1.73-.144 4.39-.216 5.26-.216h18.43v36.867H5.61a50.755 50.755 0 0 1-5.62-.288v2.664c2.02-.144 3.82-.216 5.62-.216h47.67a47.078 47.078 0 0 1 5.18.216v-2.664c-1.8.144-3.38.288-5.18.288H30.09z', fill-rule='evenodd')
