mixin service-title-02-05

  div
    div(style='padding-top:103.3333333%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 44.94 46.438' style='position: absolute')
        path(d='M43.14-.013c-3.67 4.464-11.52 10.585-18.57 14.617A92.11 92.11 0 0 1 .01 24.541l1.37 2.3A125.329 125.329 0 0 0 25.29 16.76l1-.576v25.49c0 1.8-.14 3.961-.21 4.753h2.59a39.491 39.491 0 0 1-.22-4.753V14.892A92.4 92.4 0 0 0 44.94 1.643z', fill-rule='evenodd')