mixin service-title-01-09

  div
    div(style='padding-top:100%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 64 64' style='position: absolute')
        path(d='M55.29 12.388a84.932 84.932 0 0 0-6.05-9.865l-1.94.937a73.726 73.726 0 0 1 5.97 9.936zm-14.9-.648c1.65 0 3.88.072 5.68.216V9.292a50.849 50.849 0 0 1-5.68.288H14.1c-2.23 0-3.53-.144-5.33-.288v2.664c1.52-.144 3.17-.216 5.48-.216h26.14zM5.61 27.294c-2.24 0-3.82-.072-5.62-.216v2.52c1.94-.144 3.38-.144 5.62-.144h23.25c-.07 7.56-.43 14.257-3.81 19.873-2.81 4.9-8.07 9.073-14.12 11.737l2.16 1.729c5.84-3.025 11.17-7.777 13.9-12.385 3.17-5.689 3.89-12.962 3.96-20.954H52.7c1.51 0 3.31.072 4.68.144v-2.52c-1.59.144-3.17.216-4.68.216H5.61zM54.64.939a66.465 66.465 0 0 1 6.12 9.865l2.02-1.008A82.652 82.652 0 0 0 56.51.003z', fill-rule='evenodd')
