mixin static_ico(number,path,col = 'black')
  span.c-static__item(data-module='UaViewToggle')

    - if(number == 3 && col == 'black')
      img(src="/assets/images/"+path+"/img_service_01.svg" alt='')
    - if(number == 3 && col == 'white')
      img(src="/assets/images/"+path+"/img_service_01-wht.svg" alt='')

    - if(number == 4 && col == 'black')
      img(src="/assets/images/"+path+"/img_service_02.svg" alt='')
    - if(number == 4 && col == 'white')
      img(src="/assets/images/"+path+"/img_service_02-wht.svg" alt='')

    - if(number == 5 && col == 'black')
      img(src="/assets/images/"+path+"/img_service_03.svg" alt='')
    - if(number == 5 && col == 'white')
      img(src="/assets/images/"+path+"/img_service_03-wht.svg" alt='')

    - if(number == 6 && col == 'black')
      img(src="/assets/images/"+path+"/img_bg02.png" alt='')
    - if(number == 6 && col == 'white')
      img(src="/assets/images/"+path+"/img_bg02-wht.png" alt='')


