mixin top-title-L
  div
    div(style='padding-top:179.3103448%;')
      svg(xmlns='http://www.w3.org/2000/svg', width="29" height="52" viewBox='0 0 29 52' style='position: absolute')
        path(d='M26.916 50.96v-1.44H1.572V-.01H-.012v50.97h26.928z', fill-rule='evenodd')
