mixin top-title-01-02
  div
    div(style='padding-top:133.3333333%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 39 52' style='position: absolute')
        path(d='M37.426 50.98V0h-1.584v23.9H1.569V0H-.015v50.98h1.584V25.34h34.272v25.64h1.584z', fill-rule='evenodd')
