mixin top-title-T
  div
    div(style='padding-top:139.4736842%;')
      svg(xmlns='http://www.w3.org/2000/svg', width="38" height="53" viewBox='0 0 38 53' style='position: absolute')
        path(d='M36.301 1.44V0H.013v1.44h17.352v49.54h1.584V1.44h17.352z', fill-rule='evenodd')
