mixin top-title-M
  div
    div(style='padding-top:101.9607843%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 51 52' style='position: absolute')
        path(d='M49.956 50.96V-.01h-2.808L24.972 48.66 2.796-.01H-.012v50.97h1.584V1.79h.216l22.464 49.17h1.3L48.088 1.79h.288v49.17h1.584z', fill-rule='evenodd')
