mixin top-title-04
  div
    div(style='padding-top:16.1290322%;')
      svg.character-parent(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 223.21 50.98')
        path.character(d="M18.94,1.44V51H17.35V1.44H0V0H36.29V1.44Z")
        path.character(d="M57.21,51V0H87V1.44H58.79V23.83h26.5v1.44H58.79V49.54H88.1V51Z")
        path.character(d="M150.59,51l-6-14.62H115L108.69,51H107L129.07,0h2l21.24,51ZM130,1,115.53,35H144Z")
        path.character(d="M221.63,51V1.8h-.29L198.8,51h-1.29L175,1.8h-.21V51h-1.59V0h2.81l22.18,48.67L220.4,0h2.81V51Z")
