mixin top-title-V
  div
    div(style='padding-top:123.2558139%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 43 53' style='position: absolute')
        path(d='M41.034.01h-1.728L20.442 49.55H20.3L1.724.01H-.004l19.152 50.98h2.448z', fill-rule='evenodd')
