mixin top-title-01
  div
    div
      svg.u-pcOnly.character-parent(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 556.02 53.86")
        path.character(d="M49.54,52.42H47.09L32.33,3h-.15L17.71,52.42H15.26L0,1.44H1.66L16.34,51h.22L31,1.44h2.45L48.24,51h.22L63.14,1.44H64.8Z")
        path.character(d="M121.46,52.42V26.78H87.19V52.42H85.61v-51h1.58v23.9h34.27V1.44h1.59v51Z")
        path.character(d="M196.92,26.93a28.79,28.79,0,0,1-2,10.83,25.79,25.79,0,0,1-5.47,8.5,24.86,24.86,0,0,1-8.32,5.58,28,28,0,0,1-20.88,0A24.72,24.72,0,0,1,152,46.26a25.65,25.65,0,0,1-5.48-8.5,28.79,28.79,0,0,1-2-10.83,28.84,28.84,0,0,1,2-10.84A25.5,25.5,0,0,1,152,7.6,24.85,24.85,0,0,1,160.23,2a28.2,28.2,0,0,1,21,0,25,25,0,0,1,8.28,5.58,25.64,25.64,0,0,1,5.47,8.49A28.84,28.84,0,0,1,196.92,26.93Zm-1.59,0a27.33,27.33,0,0,0-1.8-10,24.48,24.48,0,0,0-5.07-8.1,23.71,23.71,0,0,0-7.81-5.44,25.94,25.94,0,0,0-19.88,0A23.71,23.71,0,0,0,153,8.86a24.48,24.48,0,0,0-5.07,8.1,27.33,27.33,0,0,0-1.8,10,27.77,27.77,0,0,0,1.76,10,24.31,24.31,0,0,0,5,8.1,23.42,23.42,0,0,0,7.78,5.44,26.65,26.65,0,0,0,20.16,0A23.42,23.42,0,0,0,188.57,45a24.31,24.31,0,0,0,5-8.1A27.77,27.77,0,0,0,195.33,26.93Z")
        path.character(d="M291.81,52.42h-2.44L274.61,3h-.15L260,52.42h-2.45l-15.26-51h1.65L258.62,51h.22L273.31,1.44h2.45L290.52,51h.21L305.42,1.44h1.66Z")
        path.character(d="M327.89,52.42v-51h29.73V2.88H329.47V25.27H356v1.44h-26.5V51h29.3v1.44Z")
        path.character(d="M450.14,52.42,444.09,37.8H414.5l-6.26,14.62h-1.73l22.1-51h2l21.24,51Zm-20.59-50-14.47,34h28.51Z")
        path.character(d="M500.18,52.42,484.77,26.71H472.82V52.42h-1.58v-51h14.11a33.59,33.59,0,0,1,5.69.5,14.65,14.65,0,0,1,5.15,1.91,11,11,0,0,1,3.7,3.85A12.42,12.42,0,0,1,501.33,14,11.89,11.89,0,0,1,500,20a11.77,11.77,0,0,1-3.53,3.85A14.67,14.67,0,0,1,491.65,26a21.57,21.57,0,0,1-5.15.65L502,52.42ZM499.75,14a10.65,10.65,0,0,0-1.3-5.51A9.59,9.59,0,0,0,495,5.08a14.72,14.72,0,0,0-4.89-1.77,32.17,32.17,0,0,0-5.65-.5H472.82V25.34h12.46q7.05,0,10.76-2.95A10.07,10.07,0,0,0,499.75,14Z")
        path.character(d="M525.13,52.42v-51h29.74V2.88H526.71V25.27h26.5v1.44h-26.5V51H556v1.44Z")


      svg.u-spOnly.character-parent(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 474.69 231.36')
        path.character(d="M82.56,87.36H78.48L53.88,4.92h-.24L29.52,87.36H25.44L0,2.4H2.76L27.24,85h.36L51.72,2.4H55.8L80.4,85h.36L105.24,2.4H108Z")
        path.character(d="M192.44,87.36V44.64H135.32V87.36h-2.64V2.4h2.64V42.24h57.12V2.4h2.64v85Z")
        path.character(d="M309.8,44.88a48,48,0,0,1-3.3,18.06,42.71,42.71,0,0,1-9.12,14.16,41.64,41.64,0,0,1-13.86,9.3,46.73,46.73,0,0,1-34.8,0,41.64,41.64,0,0,1-13.86-9.3,42.71,42.71,0,0,1-9.12-14.16,48,48,0,0,1-3.3-18.06,48,48,0,0,1,3.3-18.06,42.71,42.71,0,0,1,9.12-14.16,41.79,41.79,0,0,1,13.8-9.3,47,47,0,0,1,34.92,0,41.79,41.79,0,0,1,13.8,9.3,42.71,42.71,0,0,1,9.12,14.16A48,48,0,0,1,309.8,44.88Zm-2.64,0a45.59,45.59,0,0,0-3-16.62,40.86,40.86,0,0,0-8.46-13.5,39.48,39.48,0,0,0-13-9.06,43.2,43.2,0,0,0-33.12,0,39.48,39.48,0,0,0-13,9.06,40.86,40.86,0,0,0-8.46,13.5,45.59,45.59,0,0,0-3,16.62A46.41,46.41,0,0,0,228,61.5,40.57,40.57,0,0,0,236.36,75a38.83,38.83,0,0,0,13,9.06,44.41,44.41,0,0,0,33.6,0,38.83,38.83,0,0,0,13-9.06,40.57,40.57,0,0,0,8.34-13.5A46.41,46.41,0,0,0,307.16,44.88Z")
        path.character(d="M82.56,231.36H78.48l-24.6-82.44h-.24L29.52,231.36H25.44L0,146.4H2.76L27.24,229h.36L51.72,146.4H55.8L80.4,229h.36l24.48-82.56H108Z")
        path.character(d="M132.68,231.36v-85h49.56v2.4H135.32v37.32h44.16v2.4H135.32V229h48.84v2.4Z")
        path.character(d="M317.24,231.36,307.16,207H257.84L247.4,231.36h-2.88l36.84-85h3.36l35.4,85Zm-34.32-83.28L258.8,204.72h47.52Z")
        path.character(d="M392.43,231.36l-25.68-42.84H346.83v42.84h-2.64v-85h23.52a54.92,54.92,0,0,1,9.48.84,24,24,0,0,1,8.58,3.18,18.31,18.31,0,0,1,6.18,6.42,20.64,20.64,0,0,1,2.4,10.56,19.73,19.73,0,0,1-2.28,10,19.32,19.32,0,0,1-5.88,6.42,24.35,24.35,0,0,1-8,3.54,35.76,35.76,0,0,1-8.58,1.08l25.8,43Zm-.72-64a17.82,17.82,0,0,0-2.16-9.18,16.06,16.06,0,0,0-5.7-5.76,24.41,24.41,0,0,0-8.16-2.94,52.55,52.55,0,0,0-9.42-.84H346.83v37.56h20.76q11.76,0,17.94-4.92T391.71,167.4Z")
        path.character(d="M423.21,231.36v-85h49.56v2.4H425.85v37.32H470v2.4H425.85V229h48.84v2.4Z")

