mixin top-title-W
  div
    div(style='padding-top:78.7878787%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 66 52' style='position: absolute')
        path(d='M64.794 0h-1.656L48.45 49.54h-.216L33.474 0h-2.448L16.554 49.54h-.216L1.65 0H-.006l15.264 50.98h2.448L32.178 1.51h.144l14.76 49.47h2.448z', fill-rule='evenodd')
