mixin top-title-01-06
  div
    div(style='padding-top:110.6382978%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 47 52' style='position: absolute')
        path(d='M45.353 50.98L24.113 0h-2.016l-22.1 50.98h1.728l6.264-14.62h29.592l6.048 14.62h1.728zm-8.28-15.99H8.561L23.033 1.01z', fill-rule='evenodd')
