mixin top-title-I
  div
    div(style='padding-top:2550%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 1.562 51' style='position: absolute')
        path(d='M1.57 50.99V.01H-.014v50.98H1.57z', fill-rule='evenodd')
