mixin top-title-03
  div
    div
      svg.character-parent(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 366 55')
        path.character(d="M36,52a27.7,27.7,0,0,1-10,1.91,26.72,26.72,0,0,1-10.51-2,24.7,24.7,0,0,1-8.21-5.58,25,25,0,0,1-5.36-8.53A29.9,29.9,0,0,1,0,26.93a29.9,29.9,0,0,1,1.91-10.8A24.9,24.9,0,0,1,7.27,7.6,24.56,24.56,0,0,1,15.52,2,26.59,26.59,0,0,1,26,0a27.1,27.1,0,0,1,9.25,1.62,19.62,19.62,0,0,1,7.67,4.93l-1,1.15a17.14,17.14,0,0,0-3.42-2.77,22.49,22.49,0,0,0-4-2A22.8,22.8,0,0,0,30.17,1.8,25.48,25.48,0,0,0,26,1.44a24.48,24.48,0,0,0-10,2,22.85,22.85,0,0,0-7.7,5.44,24.41,24.41,0,0,0-5,8.1,27.74,27.74,0,0,0-1.77,10,28.43,28.43,0,0,0,1.73,10A24.15,24.15,0,0,0,8.24,45,23.13,23.13,0,0,0,16,50.44a24.68,24.68,0,0,0,10,2,25.48,25.48,0,0,0,9.4-1.84,18.62,18.62,0,0,0,7.67-5.51l1.15,1.08A19.72,19.72,0,0,1,36,52Z")
        path.character(d="M113.41,26.93a28.79,28.79,0,0,1-2,10.83,25.63,25.63,0,0,1-5.47,8.5,24.92,24.92,0,0,1-8.31,5.58,28,28,0,0,1-20.88,0,24.86,24.86,0,0,1-8.32-5.58A25.63,25.63,0,0,1,63,37.76a28.79,28.79,0,0,1-2-10.83,28.84,28.84,0,0,1,2-10.84A25.48,25.48,0,0,1,68.45,7.6,25,25,0,0,1,76.73,2a28.17,28.17,0,0,1,21,0A25,25,0,0,1,106,7.6a25.48,25.48,0,0,1,5.47,8.49A28.84,28.84,0,0,1,113.41,26.93Zm-1.58,0A27.33,27.33,0,0,0,110,17,24.35,24.35,0,0,0,105,8.86a23.5,23.5,0,0,0-7.81-5.44,25.92,25.92,0,0,0-19.87,0,23.6,23.6,0,0,0-7.81,5.44A24.35,24.35,0,0,0,64.38,17a27.33,27.33,0,0,0-1.8,10,27.78,27.78,0,0,0,1.77,10,24.15,24.15,0,0,0,5,8.1,23.32,23.32,0,0,0,7.78,5.44,26.65,26.65,0,0,0,20.16,0A23.38,23.38,0,0,0,105.06,45a24.34,24.34,0,0,0,5-8.1A28,28,0,0,0,111.83,26.93Z")
        path.character(d="M135.23,52.42v-51h1.58V51h25.35v1.44Z")
        path.character(d="M217.11,41.22a17.43,17.43,0,0,1-3.31,6.59,15.89,15.89,0,0,1-6,4.43,26.4,26.4,0,0,1-18.21,0,15.7,15.7,0,0,1-6-4.43,17.31,17.31,0,0,1-3.32-6.59,31.43,31.43,0,0,1-1-8.1V1.44h1.58V32.83a36.49,36.49,0,0,0,.61,6.45A16.91,16.91,0,0,0,184,45.61a14.87,14.87,0,0,0,5.4,4.86,19.14,19.14,0,0,0,9.33,2,19.41,19.41,0,0,0,9.18-1.88,14.68,14.68,0,0,0,5.43-4.78,17,17,0,0,0,2.59-6.34,34.76,34.76,0,0,0,.65-6.59V1.44h1.59V33.12A31.42,31.42,0,0,1,217.11,41.22Z")
        path.character(d="M292.38,52.42V3.24h-.29L269.55,52.42h-1.29L245.79,3.24h-.21V52.42H244v-51h2.81L269,50.11,291.15,1.44H294v51Z")
        path.character(d="M358.64,52.42l-36.58-49h-.22v49h-1.58v-51h2.23l36.65,48.89h.22V1.44h1.58v51Z")

