mixin top-title-01-08
  div
    div(style='padding-top:162.5%;')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 32 52' style='position: absolute')
        path(d='M30.869 50.98v-1.44h-29.3V25.27h26.5v-1.44h-26.5V1.44h28.152V0H-.014v50.98h30.883z', fill-rule='evenodd')
