mixin top-title-N
  div
    div(style='padding-top:120.9302325%;')
      svg(xmlns='http://www.w3.org/2000/svg', width="43" height="52" viewBox='0 0 43 52' style='position: absolute')
        path(d='M40.668 50.96V-.01h-1.587v48.88h-.216L2.217-.01H-.015v50.97h1.584V2h.216l36.576 48.96h2.3z', fill-rule='evenodd')
