.p
  &-about
    padding-top per(158, 750)
    +pc()
      padding-top per(230, 2560)

    .p-content
      +sp()
        position relative
        margin-top per(54, 750)

    .p-section
      &:nth-of-type(1)
        margin-top per(70, 750)
        +sp()
          margin-bottom per(90, 750)
        +pc()
          margin per(120, 2200) 0 per(140, 2200)
      &:nth-of-type(2)
        +sp()
          margin-bottom per(110, 750)
        +pc()
          margin-bottom per(270, 2200)

      &:nth-of-type(3)
        +sp()
          margin-bottom per(110, 750)

      &:nth-of-type(4)
        +sp()
          margin-bottom per(120, 750)
        +pc()
          margin-bottom per(250, 2560)


    h2
      font-size (30 / 750) * 100vw
      +sp()
        width per(650, 750)
        margin-left per(140, 750)
      +pc()
        font-size (34 / 2560) * 100vw
        // z-index 10
        text-align center
        position absolute
        // top (260 / 2560) * 100vw
        left 50%
        // transform translateX(-50%)
        z-index 100
        top 5.15625vw
        transform translate(-50%, -50%)
      &:before
        content ''
        display block
        width (60 / 750) * 100vw
        height (4 / 750) * 100vw
        background #000
        position absolute
        top 50%
        left 0
        transform translate(-150%, -100%)
        +pc()
          left -90%
          transform translateY(-50%)
          width (60 / 2560) * 100vw
          height (4 / 2560) * 100vw

    h3
      // font-size (84 / 750) * 100vw
      font-size 13.2vw
      margin-bottom per(40, 650)
      +pc()
        // font-size (130 / 2560) * 100vw
        font-size (130 / 2560) * 100vw
        // margin-bottom per(50, 2560)
        margin-bottom 3.953125%

    &-concept
      .l-col--2
        +pc()
          justify-content space-between
        & > p
          width 100%
          +pc()
            width per(1050, 2200)

        &:nth-of-type(3)
          +pc()
            align-items center

        .p-about-concept__figure
          width 100%
          +pc()
            width per(1050, 2200)
          & > img
            +pc()
              width 100%
          &:nth-of-type(1)
            +sp()
              width per(567, 650)
              margin-bottom per(90, 650)
          &:nth-of-type(2)
            +sp()
              width per(495, 650)
              margin-left auto

      &__head
        text-align center
        margin-bottom 9.545455%
        +pc()
          margin-bottom per(100, 2200)

      &__lead
        // font-family Noto
        font-family NotoBold
        font-size (46 / 750) * 100vw
        // margin-bottom per(50, 750)
        font-weight 700
        line-height 1.6
        margin-bottom 2.666667%
        +pc()
          font-size (62 / 2560) * 100vw
          line-height 1.4
          margin-bottom per(25, 2560)
        &--small
          // font-size (26 / 750) * 100vw
          font-size 6.2vw
          +pc()
            // font-size (36 / 2560) * 100vw
            font-size 2.40625vw
            line-height 1.4

      &__text
        margin-bottom per(100, 750)
        +pc()
          margin-bottom per(290, 2200)
        p
          font-size (26 / 750) * 100vw
          font-size 3.7vw
          line-height 1.8
          margin 0
          +pc()
            font-size (34 / 2560) * 100vw
          &.p-about-concept__text--jp
            font-family Noto
            font-size (30 / 750) * 100vw
            line-height 2
            margin-bottom per(50, 750)
            +sp()
               font-weight 600
            +pc()
              font-size (30 / 2560) * 100vw
              line-height 2.2


    &-story
      &__movie
        +pc()
          width per(1920, 2200)
          margin auto
          img
            width 100%
    &-owners
      padding-bottom per(120, 650)
      border-bottom (4 / 650) * 100vw dotted #000
      +pc()
        padding-bottom per(250, 2200)
        border-bottom (4 / 2560) * 100vw dotted #000

      h3
        line-height 1.1
        +sp()
          margin-bottom per(50, 750)

      .l-col--2
        +pc()
          justify-content space-between
          margin-bottom per(130, 2200)

        .p-about-owners__desc
          width 100%
          +sp()
            order 1
          +pc()
            width per(932, 2200)
          p
            font-size (26 / 750) * 100vw
            line-height 1.8
            +sp()
              margin-bottom per(50, 650)
              margin-bottom per(50, 650)
            +pc()
              font-size (34 / 2560) * 100vw
            &.p-about-owners__desc--jp
              font-family Noto
              font-size (28 / 750) * 100vw
              line-height 2.2
              +sp()
                font-weight 600
              +pc()
                font-size (28 / 2560) * 100vw
                margin-bottom per(70, 932)

        .p-about-owners__figure
          width 100%
          +pc()
            width per(1150, 2200)
          img
            +sp()
              margin-bottom per(50,650)
            +pc()
              margin-bottom per(50,932)
          &__name
            font-family futura-Med
            font-size (66 / 750) * 100vw
            line-height 1
            margin-bottom per(20, 650)
            +pc()
              // font-size (66 / 2560) * 100vw
              // margin-bottom per(20, 932)
              font-size 3.0vw
              margin-bottom 1.0%

            &--jp
              font-family Noto
              font-size (42 / 750) * 100vw
              line-height 1.2
              // margin-bottom per(40, 650)
              margin-bottom 10.153846%
              +pc()
                // font-size (42 / 2560) * 100vw
                font-size 1.5vw

    &-access
      h3
        +sp()
          margin-bottom per(50, 650)

      .l-col--2
        +pc()
          justify-content space-between
        .p-about-access__figure
          width 100%
          +sp()
            margin-bottom per(80, 650)
          +pc()
            width per(1050, 2200)
        .p-about-access__info
          width 100%
          +pc()
            text-align right
            width per(1050, 2200)
          dt
            font-size (60 / 750) * 100vw
            margin-bottom per(20, 650)
            +pc()
              // font-size (42 / 2520) * 100vw
              font-size 2.3vw
              margin-bottom per(30, 1050)
          dd
            font-size (32 / 750) * 100vw
            margin-bottom per(60, 650)
            +pc()
              font-size (32 / 2520) * 100vw
              line-height 1.6
              // margin-bottom per(50, 1050)
              margin-bottom 1.761905%
              letter-spacing 0.04em
            span
              font-family Noto
              // &:nth-of-type(2)
              //   +sp()
              //     display block
              //     margin-bottom per(60, 5650)
              letter-spacing 0

            &:nth-of-type(1)
              +sp()
                margin-bottom per(30, 650)
            & + dt
              +pc()
                margin-top per(60, 1050)

          &__tel
            color #000
            text-decoration none
            a
              color #000
              text-decoration none


                
      .c-link--1
        display inline-block
        font-size (32 / 750) * 100vw
        font-family futura-Med
        text-decoration underline
        margin-bottom per(60, 650)
        +pc()
          font-size (34 / 2560) * 100vw
          margin-bottom per(60, 1050)
          margin-top 21px
        &:hover
          font-style italic
