.p-footer
  background #fff
  padding percentage((30 / 1440)) percentage((44 / 1440))
  position relative

  &-logo
    width 50%

    &__image
      background url('/assets/images/common/logo02.svg') no-repeat 50% 50%
      background-size 100% auto
      width per(390, 2560)
      height 0
      padding-top per(304, 2560)

  .p-copyright
    position absolute
    left 0
    bottom 0

    p
      font-size 20px
