_::-webkit-full-page-media, _:future, :root .p-footer
  +pc()
    padding-bottom per(200, 2580)

.p-footer
  // margin-bottom per(104, 750)
  margin-bottom per(180, 750)

  +pc()
    // margin-bottom per(140, 2580)
    margin-bottom per(200, 2580)

  .l-col--2
    & > div
      +sp()
        width 100%

  .l-inner
    max-width 2200px
    width per(2200, 2560)
    margin auto
    position relative

    .p-copyright
      +pc()
        position absolute
        left 0
        bottom per(-40, 432)

      p
        font-size (20 / 750) * 100vw
        margin-bottom 0

        +sp()
          text-align center

        +pc()
          font-size (26 / 2520) * 100vw

  &-logo
    +sp()
      text-align center
      margin-bottom per(74, 650)

    +pc()
      width 50%

    svg
      width per(274, 650)

      +pc()
        width per(388, 1100)

    &__image
      background url('/assets/images/common/logo02.svg') no-repeat 50% 50%
      background-size 100% auto
      width per(390, 2560)
      height 0
      padding-top per(304, 2560)

  &-info
    +sp()
      margin-bottom per(50, 650)

    +pc()
      text-align right

    p
      font-family Futura-Med
      font-size (34 / 650) * 100vw
      line-height 1.7
      margin-bottom per(46, 650)

      +sp()
        text-align center

      +pc()
        font-size (42 / 2560) * 100vw
        line-height 2
        margin-bottom per(58, 1100)

      &:nth-of-type(1)
        margin-bottom 0

  &-link
    +sp()
      display flex
      justify-content space-around
      margin-bottom per(46, 650)

    +pc()
      // margin-bottom per(48, 2560)
      margin-bottom per(70, 2560)

    li
      display inline-block

      +pc()
        // margin-right per(50, 2560)
        margin-right 3.171875%

        &:last-child
          margin-right 0

    a
      color #ed7473
      // font-family YanoneKaffeesatz-Bold
      font-family YanoneKaffeesatz-Regular
      font-weight 600
      font-size (46 / 750) * 100vw
      letter-spacing 0.04em

      +pc()
        font-size (54 / 2560) * 100vw

      &:after
        content ''
        display block
        width 100%
        height (4 / 750) * 100vw
        // padding-top per(2 / 212) * 100vw
        background #ed7473
        transition opacity 0.4s

        +sp()
          margin-top (-4 / 750) * 100vw

        +pc()
          // height 0.2rem
          height (2 / 2560) * 100vw

      &:hover
        +pc()
          font-style italic
        // &:after
        //   opacity 0.6

  &-sns
    display flex
    flex-wrap nowrap
    width 100%

    +sp()
      justify-content center
      margin-left per(40, 650)

    +pc()
      justify-content flex-end

    li
      position relative
      width per(78, 650)
      margin-right per(8, 650)

      +pc()
        // width per(96, 1100)
        width per(116, 1100)
        margin-right per(10, 1100)
        text-align center

      &:before
        font-family FuturaMdCnBT
        font-size (36 / 750) * 100vw
        color #ed7473
        font-weight bold
        position absolute
        top 50%
        left 0
        transform translate(-140%, -50%)

        +pc()
          font-size (46 / 2560) * 100vw
          transform translate(-150%, -50%)

      &:nth-of-type(1)
        margin-right per(106, 650)
        a
          +pc()
            // width 101%
            width 96%
            // height 101%

        +pc()
          margin-right per(132, 1100)

        &:before
          content 'U.S.'

      &:nth-of-type(2)
        &:before
          content 'JP'

          +sp()
            transform translate(-176%, -50%)

      &:nth-of-type(4)
        margin-right 0

      span
        color #ed7473
        font-size (46 / 2560) * 100vw
        display inline

      a
        display inline-block
        vertical-align middle
        width 100%
        padding-top 100%
        +pc()
          padding-top 110%
          width 96%
        &:hover
          opacity 0.6

  &-tel a
    color #000
    text-decoration none
