.p-loading
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  z-index 999
  display block

.p-loading__bg
  position fixed
  top 0
  width 100%
  height 100%
  background-color #f37779
  // z-index 10
  z-index 200

  .p-loading__msg
    position absolute
    width 85%
    height auto
    top 50%
    left 50%

    // opacity 0
    +sp()
      transform translate(-50%, -50%)

    +pc()
      width 423px
      height 81px
      margin -40px 0 0 -212px

  img
    width 100%

.p-loading__visual
  position relative

.p-loading__visual
  font-size 0

.p-loading__loading-icon
  position absolute
  top 0
  display flex
  align-items center
  justify-content center
  width 100%
  height 100%