$content-width = 1000px
$breakpoint = 795px
$nav-height = 62.5px
$nav-background = #262626
$nav-font-color = #ffffff
$link-hover-color = #2581DC

header
  width 100%

  +sp()
    position fixed
    top 0
    z-index 100

.nav-bar-wrap
  width 100%
  position relative
  // height 9rem
  // height 14rem
  height (230 / 2560) * 100vw

  +pc()
    transition all 0.4s ease

  &.is-hidden
    display none
    // visibility hidden
    // top -200px

.nav-bar
  // background #000
  background #fff
  position absolute
  // transition all .2s
  backface-visibility hidden

  +pc()
    // bottom 0
    // height 9rem
    // height 14rem
    height (230 / 2560) * 100vw

  +sp()
    top 0

  &.lower
    +pc()
      top 0
      bottom auto
      position fixed
      z-index 100

  &.is-fixed
    position fixed
    top 0
    left 0
    // z-index 4
    z-index 100

    &:not(.lower)
      // +pc()
      // height 6rem

.p-nav
  width 100%
  box-sizing border-box
  transition all 0.2s

  +sp()
    height $nav-height
    width 100%
    flex-direction column

    h1
      position absolute
      padding-left 20px
      float left
      line-height $nav-height
      width 72px
      height $nav-height

      // opacity 0
      img
        // vertical-align middle
        width 72.775px
        height 25px
        position absolute
        left 20px
        top 19px

  +pc()
    // height 9rem
    display flex
    // justify-content space-between
    // align-items center
    // padding 20px 61px 20px 45px
    // height 14rem
    height (230 / 2560) * 100vw
    // padding 0 80px
    padding 0 per(80,2560)
    width 100%
    flex-direction column

    h1
      // margin-top 3%

      // +sp()
      // width 132px
      +pc()
        // width 132px
        // width 420px
        // position absolute
        width percentage((420 / 2560))
        // height 0
        top 50%
        left 0
        transform translateY(100%)

        // opacity 0
        // height 90px
        a:hover
          opacity 0.4
          transition 0.2s

        img
          width 100%
          vertical-align middle

  ul
    +pc()
      display flex
      // justify-content space-between
      flex-direction column
      text-align right

    +sp()
      width 100%
      flex-direction column
      display none

    li
      // color #fff
      color #000

      +pc()
        box-sizing border-box

        &last-child
          padding-right 0

      +sp()
        float none

      &.is-current
        pointer-events none

      // &.nav-top
      // width 34px

      // &.nav-about
      // width 116px

      // &.nav-service
      // width 75px

      // &.nav-column
      // width 76px

      // &.nav-team
      // width 48px

      // &.nav-contact
      // width 86px
      a
        display inline-block
        // color #fff
        color #000
        // font-family 'Avenir Next', 'Arial', YuGothic, 'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', Meiryo, 'ＭＳ ゴシック', sans-serif
        font-family 'FuturaMdCnBT', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', Verdana, sans-serif
        // font-size 36px
        font-size 3.6rem

        & > div
          width 100%

          & > div > svg
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            // fill #fff
            // stroke #fff
            fill #000
            stroke #000
            stroke-width 0.3px

            path
              opacity 0

        &:hover
          opacity 0.4
          transition 0.2s

        +sp()
          background #000
          display block
          padding percentage((30 / 750))

// pc用fixedナビ
// あとで.p-navで整理
.p-nav-fixed
  width 100%
  box-sizing border-box
  transition all 0.2s

  +sp()
    height $nav-height
    width 100%
    flex-direction column

    h1
      position absolute
      padding-left 20px
      float left
      line-height $nav-height
      width 72px
      height $nav-height
      opacity 0

      img
        // vertical-align middle
        width 72.775px
        height 25px
        position absolute
        left 20px
        top 19px

  +pc()
    padding 0 per(80, 2560)
    height (230 / 2560) * 100vw

    h1
      // margin-top 3%

      // +sp()
      // width 132px
      +pc()
        // width 132px
        // width 420px
        width percentage((420 / 2560))
        // position absolute
        // top 50%
        // left 0
        // transform translate(percentage(80 / 420), 50%)

        // height 0
        top 50%
        left 0
        transform translateY(percentage((64 / 89)))

        // height 0

        // opacity 0
        // height 90px
        a:hover
          opacity 0.4
          transition 0.2s

        img
          width 100%
          vertical-align middle

  ul
    +pc()
      display flex
      // justify-content space-between
      flex-direction column
      text-align right

    +sp()
      width 100%
      flex-direction column
      display none

    li
      // color #fff
      color #000

      +pc()
        box-sizing border-box

        &last-child
          padding-right 0

      +sp()
        float none

      &.is-current
        pointer-events none

      // &.nav-top
      // width 34px

      // &.nav-about
      // width 116px

      // &.nav-service
      // width 75px

      // &.nav-column
      // width 76px

      // &.nav-team
      // width 48px

      // &.nav-contact
      // width 86px
      a
        display inline-block
        // color #fff
        color #000
        // font-family 'FuturaMdCnBT', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', Verdana, sans-serif
        font-family 'Futura-Med', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', Verdana, sans-serif
        // font-size 3.6rem
        font-size (36 / 2560) * 100vw

        & > div
          width 100%

          & > div > svg
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            // fill #fff
            // stroke #fff
            fill #000
            stroke #000
            stroke-width 0.3px

            path
              opacity 0

        &:hover
          opacity 0.4
          transition 0.2s

        +sp()
          background #000
          display block
          padding percentage((30 / 750))

main > .about,
.service,
.support
  +pc()
    .nav-bar
      height 6rem

      .p-nav
        height 6rem

        h1
          width 72px
          height 24.78px

          img
            vertical-align top

nav
  +sp()
    width 100%
    padding 70px 0 15px

  +pc()
    // width 618px
    width 260px
    margin-left auto

  &.pc-fixed
    +pc()
      // width 618px
      // width 260px
      width per(260, 2560)
      // margin-left auto
      z-index 10
      position absolute
      top (104 / 2560) * 100vw
      right (80 / 2560) * 100vw

.nav-list
  +pc()
    & li
      position relative
      // opacity 0

.nav-mobile
  position absolute
  top 50%
  right 0
  // transform translateY(-50%)
  // background transparent
  // height $nav-height
  // width $nav-height
  background #ed7473
  border-radius 50%
  transform translate(percentage((-44 / 80)), -50%)

  +sp()
    width per(88, 750)
    padding-top per(88, 750)
    display block
    margin-left auto

  +pc()
    // display none
    // display block
    width per(124, 2560)
    // height per(126,2560)
    padding-top per(124, 2560)
    transform translate(percentage((-80 / 124)), -50%)
    // transform translate(percentage((-80 / 124)), 0)
    // transform translate(-80px, 0)
    opacity 1

+sp()
  nav
    width 100%
      padding $nav-height 0 15px

      ul
        display none

        li
          float none

          a
            padding 15px
            line-height 20px

          ul li a
            padding-left 30px

  .nav-dropdown
    position static

#nav-toggle
  // position absolute
  // right 20px
  // top 50%
  // left 50%
  // margin-top -13px
  cursor pointer
  // padding 10px 35px 16px 0px
  // opacity 0
  opacity 1
  // transform translate(-50%, -50%)
  width per(126, 2560)
  position absolute
  top 50%
  right 0
  // transform translateY(-50%)
  // background transparent
  // height $nav-height
  // width $nav-height
  background #ed7473
  border-radius 50%
  transform translate(percentage((-44 / 80)), -50%)

  +sp()
    width per(88, 750)
    padding-top per(88, 750)
    display block
    margin-left auto

  +pc()
    // display none
    // display block
    width per(124, 2560)
    // height per(126,2560)
    padding-top per(124, 2560)
    transform translate(percentage((-80 / 124)), -50%)
    // transform translate(percentage((-80 / 124)), 0)
    // transform translate(-80px, 0)
    opacity 1


  span
    display block
    // width 25px
    // height 1px
    width per(54, 124)
    height (4 / 2560) * 100vw
    // width per(126, 2560)
    // height per(126,2560)
    // padding-top per(126, 2560)
    transform translate(percentage((-80 / 126)), -50%)
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    background-color #fff
    transition all 0.2s
    // -webkit-transform translateY(-500%)
    // transform translateY(-500%)
    // transform translateY(-300%)
    transform translateY(-400%)

    &:nth-of-type(2)
      // transform translateY(500%)
      transform translateY(0)

    &:nth-of-type(3)
      // transform translateY(1500%)
      transform translateY(400%)

  &.is-open
    span
      transform rotate(-45deg)
      // width 75.64102564102564%
      width per(80, 124)

      &:nth-of-type(2)
        opacity 0

      &:nth-of-type(3)
        transform rotate(45deg)







.pc-fixed
  ul
    +pc()
      display flex
      // justify-content space-between
      flex-direction column
      text-align right

    +sp()
      width 100%
      flex-direction column
      display none

    li
      // color #fff
      color #000

      +pc()
        box-sizing border-box

        &last-child
          padding-right 0

      +sp()
        float none

      &.is-current
        pointer-events none

      // &.nav-top
      // width 34px

      // &.nav-about
      // width 116px

      // &.nav-service
      // width 75px

      // &.nav-column
      // width 76px

      // &.nav-team
      // width 48px

      // &.nav-contact
      // width 86px
      &.nav-sns--insta
        margin-top per(45, 260)

        a
          margin-right per(48, 260)
          font-size (32 / 2560) * 100vw

          // position relative
          &:after
            content ''
            display block
            background url('/assets/images/common/ico_insta_2.svg') 50% 50% no-repeat
            background-size 100% auto
            // width 100%
            // padding-top 100%
            position absolute
            top 0
            right 0
            width per(38, 260)
            padding-top per(38, 260)
            // right (-40 / 260) * 100vw

      a
        display inline-block
        // color #fff
        color #000
        // font-family 'FuturaMdCnBT', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', Verdana, sans-serif
        font-family 'Futura-Med', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', Verdana, sans-serif
        // font-size 3.6rem
        font-size (36 / 2560) * 100vw

        &.c-link--color
          color #ed7473

          &:after
            content ''
            display block
            // width per(260, 2560)
            height (3 / 2560) * 100vw
            background #ed7473
            margin-top per(-8, 260)

        & > div
          width 100%

          & > div > svg
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            // fill #fff
            // stroke #fff
            fill #000
            stroke #000
            stroke-width 0.3px

            path
              opacity 0

        &:hover
          opacity 0.4
          transition 0.2s

        +sp()
          background #000
          display block
          padding percentage((30 / 750))
