[class*='c-object']
  width 100%

[class*='--white']
  svg
    *
      fill #fff

[class*='--lean_left']
  transform rotate(90deg)

[class*='--lean_right']
  transform rotate(-90deg)

[class*='--lean_reverse']
  transform rotate(180deg)

.c-static__item
  display block
  opacity 0

  &.is-passive
    opacity 1

    img
      width 100%

  &.is-active
    transition all 0.3s ease
    opacity 1

  img
    position static !important
    width 100%