.p
  &-reservation
    // display none !important
    position fixed
    bottom 0
    right 0
    z-index 10
    width 100%
    // background #fff
    display flex

    +pc()
      width per(1248, 2560) !important

    &__btn
      width per(297, 1248)
      background #ed7473
      z-index 20
      cursor pointer

    #tc-widget
      // width per(1248, 2560) !important
      // width 100% !important
      width per(951, 1248) !important
      background #fff

      form
        width 100%
        display flex
        flex-wrap nowrap

      .tc-body
        +sp()
          padding-left 0
          padding-right 0

      .tc-header
        display none

      .tc-content
        display flex

        +sp()
          width 70%

        +pc()
          width 70%

      .tc-date
        +sp()
          width 33%
          float none

      .tc-time
        +sp()
          width 33%
          float none

      .tc-ppl
        +sp()
          width 33%
          float none

      input[type='text']
        +sp()
          width 100%

        +pc()
          width 100%

      select
        +sp()
          width 100%

        +pc()
          width 100%

      .tc-icon
        display none
        width 0
        height 0

      .tc-icon-cal
        display none

      .tc-wrap-book
        +sp()
          width 25%

        +pc()
          width 30%

      .tc-book
        background #ed7473
        // input[value='RESERVATION']

    #tc-widget[data-theme='clear'] .tc-book
      // background #ed7473
      border-color #000
      color #000
      border-radius 4px
      background transparent
