//- .nav-bar(data-module='animenav')
//- div
.nav-bar-wrap(data-module="fixNavigation")
  //- .nav-bar.p-splash__navigation(data-module-splash="navigation" style="opacity: 0;")
  .nav-bar.p-splash__navigation(data-module-splash="navigation")
    .p-nav
      h1.brand
        a(href='/')
          +header-logo
      //- .nav-mobile
      //-   div
      //- #nav-toggle(data-module="Toggle" data-module-splash="navigation-content-logo")
      #nav-toggle
        span
        span
        span
