
.nav-bar-wrap
  .nav-bar.p-splash__navigation
    .p-nav-fixed
      h1.brand
        a(href='/')
          +header-logo
nav.pc-fixed
  //- ul.nav-list.nav-list(data-module="naviAnchor")
  ul.nav-list.nav-list
    //- li.nav-top.is-current(data-module-splash="navigation-content-links")
    li.nav-top
      a(href='/about/')
        |ABOUT
    li.nav-about
      a(href='/menu/')
        |MENU
    li.nav-about
      a(href='/assets/pdf/pig_takeout.pdf' target='_blank')
        |TAKE OUT
    li.nav-service
      a(href='/gallery/')
        |GALLERY
    li.nav-column
      a(href='#news')
        |NEWS
    li.nav-team
      a.p-contanc__item(href='#' data-module="ModalContact" data-slide="1")
        |CONTACT
    li.nav-contact
      a(href='/about/#access')
        |ACCESS
    li.nav-contact
      a.c-link--color(href='https://www.tablecheck.com/shops/thepigandthelady/reserve' target='_blank')
        |RESERVATION
    li.nav-sns--insta
      a(href='https://www.instagram.com/pigandtheladyjp/' target='_blank')
        |JP
