
//- modal（news01）
//- #js-galleryModal.p-modal
#js-modal01.p-modal
  //- #js-galleryModalOverlay.p-modal-overlay
  #js-modal01Overlay.p-modal-overlay
    #js-modal01Close.p-modal-close

  .p-modal-dialog
    .p-modal-content
      //- .p-modal-header
        //- #js-galleryModalClose.p-modal-close
          //- img(
          //-   src="/assets/images/common/ic_close.png"
          //-   alt=""
          //-   decoding="async"
          //- )
      .p-modal-body

        //- #js-galleryModalSwiper.swiper-container
        #js-modal01Swiper.swiper-container
          .swiper-wrapper

            //- 1（news）
            .swiper-slide
              .swiper-content
                h3 NEWS
                .p-modal__head
                  p.p-modal__head__date 2019.10.30
                  p.p-modal__head__title STAFF Recruitment Notice
                  p.p-modal__head__title-sub 
                    |STAFF
                    span.u-font-noto 募集のお知らせ
                .p-modal__desc
                  p
                    |We are seeking new staff to join our team.
                    br
                    |Positions : Front of House/ Receptionist/ Bartender/Kitchen, Full-time and Part-time positions available.
                  p
                    |THE PIG & THE LADY
                    span.u-font-noto では、
                    br
                    span.u-font-noto ホール、キッチン、レセプション、バーテンダーの正社員、アルバイトスタッフを募集しています。
                  p
                    |For details please click 
                    span.u-font-noto ↓
                    br
                    span.u-font-noto 詳細はこちらから ↓

                  a(href='https://transit-web-job.net/jobfind-pc/area/All?freeword=THE+PIG' target='_blank') THE PIG & THE LADY RECRUIT


          .swiper-button
            #js-swiper-button-prev.swiper-button-prev
            #js-swiper-button-next.swiper-button-next
            #js-swiper-numbers.swiper-numbers



//- modal（news02）

#js-modal02.p-modal
  #js-modal02Overlay.p-modal-overlay
    #js-modal02Close.p-modal-close

  .p-modal-dialog
    .p-modal-content
      .p-modal-body

        #js-modal02Swiper.swiper-container
          .swiper-wrapper

            //- 2（news）
            .swiper-slide
              .swiper-content
                h3 NEWS
                .p-modal__head
                  p.p-modal__head__date 2019.12.2
                  p.p-modal__head__title Private Event Notice
                  p.p-modal__head__title-sub
                    span.u-font-noto 貸切営業のお知らせ
                .p-modal__desc
                  p
                    |We will be closed on December 4, 2019 due to a private event.
                    br
                  p
                    |December 4, 2019
                    br
                    |16:00-23:00
                    br
                  p
                    |We will resume regular operations from 11:00am on December 5, 2019.
                    br
                    |Please call 
                    a.p-modal__tel(href="tel:050-1743-1650") (050) 1743-1650 
                    |if you have any questions and/ or concerns.
                    br
                    |Thank you for your understanding.

                  p
                    span.u-font-noto 日頃よりご利用いただきましてありがとうございます。
                    br
                    span.u-font-noto 誠に勝手ではありますが、2019年12月4日(水)の下記の時間帯は貸切営業とさせていただきます。
                  p
                    span.u-font-noto 12月4日(水)
                    br
                    span.u-font-noto 16:00-23:00
                  p
                    span.u-font-noto お客様には大変ご不便をおかけいたしますが、ご了承いただければ幸いです。
                    br
                    span.u-font-noto なお、12月5日(木)は通常通りの営業とさせていただきます。

                  p
                    span.u-font-noto 不明な点ございましたら、下記までご連絡ください。
                    br
                  a.p-modal__tel(href="tel:050-1743-1650")
                    span.u-font-noto 050-1743-1650

          .swiper-button
            #js-swiper-button-prev.swiper-button-prev
            #js-swiper-button-next.swiper-button-next
            #js-swiper-numbers.swiper-numbers

//- modal（news03）

#js-modal03.p-modal
  #js-modal03Overlay.p-modal-overlay
    #js-modal03Close.p-modal-close

  .p-modal-dialog
    .p-modal-content
      .p-modal-body

        #js-modal03Swiper.swiper-container
          .swiper-wrapper

            //- 3（news）
            .swiper-slide
              .swiper-content
                h3 NEWS
                .p-modal__head
                  p.p-modal__head__date 2019.12.16
                  p.p-modal__head__title Business hours during the New Year season
                  p.p-modal__head__title-sub
                    span.u-font-noto 年末年始の営業のお知らせ
                .p-modal__desc
                  p
                    |Please be advised that our business hours during the New Year season are as follows.
                    br
                  p
                    |※Closing days
                    br
                    |December 31st, 2019 (Tue)～January 3rd, 2020 (Fri)
                  p
                    span.u-font-noto 平素は格別なるご高配を賜り厚くお礼申しあげます。
                    br
                    span.u-font-noto 年末年始期間の営業に関しまして、下記の通りご案内させて頂きます。
                  p
                    span.u-font-noto ※年末年始休業期間
                    br
                    span.u-font-noto 2019年12月31日（火）～2020年1月3日（金）

          .swiper-button
            #js-swiper-button-prev.swiper-button-prev
            #js-swiper-button-next.swiper-button-next
            #js-swiper-numbers.swiper-numbers


//- modal（news04）

#js-modal04.p-modal
  #js-modal04Overlay.p-modal-overlay
    #js-modal04Close.p-modal-close

  .p-modal-dialog
    .p-modal-content
      .p-modal-body

        #js-modal04Swiper.swiper-container
          .swiper-wrapper

            //- 4（news）
            .swiper-slide
              .swiper-content
                h3 NEWS
                .p-modal__head
                  p.p-modal__head__date 2019.12.26
                  p.p-modal__head__title Restaurant Details for January 4-5, 2020
                  p.p-modal__head__title-sub
                    span.u-font-noto 2020年1月4日と5日の営業につきまして
                .p-modal__desc
                  p
                    |We will be shortening our menu on January 4-5, 2020.  We apologize for the inconvenience and thank you for your understanding.
                  p
                    span.u-font-noto 平素は格別なるご高配を賜り厚くお礼申しあげます。
                    br
                    span.u-font-noto 2020年1月4日と5日は一部メニューを短縮して、
                    br
                    span.u-font-noto 営業させていただきます。
                    br
                    span.u-font-noto 何卒、ご理解ご協力のほどお願いいたします。

          .swiper-button
            #js-swiper-button-prev.swiper-button-prev
            #js-swiper-button-next.swiper-button-next
            #js-swiper-numbers.swiper-numbers

