include /_dev/_mixin/_index

footer.p-footer
  .l-col.l-col--2
    .p-footer-logo
      .p-footer-logo__image
      //- +footer-logo
    .p-footer-info
      ul
        li
          a(href='#')
            STAFF WANTED
        li
          a(href='#')
            GLOBAL SITE
      p
        |address : xf x-x-x, ebisu shibuya-ku tokyo
      p
        |tel : xx-xxxx-xxxx
      ul
        li
          a(href='#')
            //- +icon-insta
        li
          a(href='#')
            //- +icon-insta
        li
          a(href='#')
            //- +icon-insta


  .p-copyright
    p © TRANSIT GENERAL OFFICE INC. All Rights Reserved.
