//- #js-galleryModal.p-modal
#js-contanc-modal.p-modal
  //- #js-galleryModalOverlay.p-modal-overlay
  #js-contanc-modalOverlay.p-modal-overlay
    #js-contanc-modalClose.p-modal-close

  .p-modal-dialog.contact
    .p-modal-content
      .p-modal-body
        //- #js-galleryModalSwiper.swiper-container
        #js-contanc-modalSwiper.swiper-container
          .swiper-wrapper

            //- 1（contact）
            .swiper-slide
              .swiper-content
                h3 CONTACT US
                .p-modal-contact
                  .l-col.l-col--2
                    .p-modal-contact__link.l-col__item
                      .p-modal-contact__title FOR THE STORE
                      .p-modal-contact__sub 店舗についてのお問い合わせ
                      .p-modal-contact__btn
                        a.u-pcOnly.c-btn--2(href='mailto:infothepigandthelady@transit-web.com') infothepigandthelady@transit-web.com
                        a.u-spOnly.c-btn--2(href='mailto:infothepigandthelady@transit-web.com') MAIL
                    .p-modal-contact__link.l-col__item
                      .p-modal-contact__title FOR THE PRESS
                      .p-modal-contact__sub プレスについてのお問い合わせ
                      .p-modal-contact__btn
                          a.u-pcOnly.c-btn--2(href='mailto:tgo-press@transit-web.com') tgo-press@transit-web.com
                          a.u-spOnly.c-btn--2(href='mailto:tgo-press@transit-web.com') MAIL
