
#js-movie-modal.p-modal
  #js-movie-modalOverlay.p-modal-overlay
    #js-movie-modalClose.p-modal-close

  .p-modal-dialog.movie
    .p-modal-content
      .p-modal-body
        //- #js-galleryModalSwiper.swiper-container
        #js-movie-modalSwiper.swiper-container
          .swiper-wrapper

            //- 1（movie）
            .swiper-slide

              //- iframe.u-pcOnly(width='560', height='315', src='https://www.youtube.com/embed/SmAIyQjvKAM?rel=0&autoplay=1', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
              #player(data-module="Movie")
              //- iframe.u-spOnly(data-module="ModalMovie" width='560', height='315', src='https://www.youtube.com/embed/SmAIyQjvKAM?rel=0&autoplay=1', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
