
//- modal（news01）
//- #js-galleryModal.p-modal
#js-modal01.p-modal
  //- #js-galleryModalOverlay.p-modal-overlay
  #js-modal01Overlay.p-modal-overlay
    #js-modal01Close.p-modal-close

  .p-modal-dialog
    .p-modal-content
      //- .p-modal-header
        //- #js-galleryModalClose.p-modal-close
          //- img(
          //-   src="/assets/images/common/ic_close.png"
          //-   alt=""
          //-   decoding="async"
          //- )
      .p-modal-body

        //- #js-galleryModalSwiper.swiper-container
        #js-modal01Swiper.swiper-container
          .swiper-wrapper

            //- 1（news）
            .swiper-slide
              .swiper-content
                h3 NEWS
                .p-modal__head
                  p.p-modal__head__date 2019.10.30
                  p.p-modal__head__title STAFF Recruitment Notice
                  p.p-modal__head__title-sub 
                    |STAFF
                    span.u-font-noto 募集のお知らせ
                .p-modal__desc
                  p
                    |THE PIG & THE LADY
                    span.u-font-noto では、
                    br
                    span.u-font-noto ホール、キッチン、レセプション、バーテンダーの正社員、アルバイトスタッフを募集しています。
                  p
                    |We are seeking new staff to join our team.
                    br
                    |Positions : Front of House/ Receptionist/ Bartender/Kitchen, Full-time and Part-time positions available.
                  p
                    span.u-font-noto 詳細はこちらから ↓
                    br
                    |For details please click 
                    span.u-font-noto ↓

                  a(href='https://transit-web-job.net/jobfind-pc/area/All?freeword=THE+PIG' target='_blank') THE PIG & THE LADY RECRUIT


          .swiper-button
            #js-swiper-button-prev.swiper-button-prev
            #js-swiper-button-next.swiper-button-next
            #js-swiper-numbers.swiper-numbers



//- modal（news02）

#js-modal02.p-modal
  #js-modal02Overlay.p-modal-overlay
    #js-modal02Close.p-modal-close

  .p-modal-dialog
    .p-modal-content
      .p-modal-body

        #js-modal02Swiper.swiper-container
          .swiper-wrapper

            //- 2（news）
            .swiper-slide
              .swiper-content
                h3 NEWS
                .p-modal__head
                  p.p-modal__head__date 2019.10.30
                  p.p-modal__head__title THE PIG &amp; THE LADY Website Information
                  p.p-modal__head__title-sub
                    |THE PIG &amp; THE LADY web
                    span.u-font-noto サイト開設のお知らせ
                .p-modal__desc
                  p
                    |THE PIG &amp; THE LADY
                    span.u-font-noto の日本オフィシャルサイトが開設しました。
                  p
                    |THE PIG &amp; THE LADY official website coming soon
                    |Release of THE PIG &amp; THE LADY official website

          .swiper-button
            #js-swiper-button-prev.swiper-button-prev
            #js-swiper-button-next.swiper-button-next
            #js-swiper-numbers.swiper-numbers



//- modal（news03）

#js-modal03.p-modal
  #js-modal03Overlay.p-modal-overlay
    #js-modal03Close.p-modal-close

  .p-modal-dialog
    .p-modal-content
      .p-modal-body

        #js-modal03Swiper.swiper-container
          .swiper-wrapper

            //- 3（news）
            .swiper-slide
              .swiper-content
                h3 NEWS
                .p-modal__head
                  p.p-modal__head__date 2019.11.30
                  p.p-modal__head__title THE PIG &amp; THE LADY GRAND OPENING
                  p.p-modal__head__title-sub
                    |THE PIG &amp; THE LADY 
                    span.u-font-noto グランドオープンのお知らせ
                .p-modal__desc
                  p
                    span.u-font-noto ハワイで最も人気のあるベトナムレストラン
                    |「THE PIG &amp; THE LADY」
                    span.u-font-noto が本日オープンいたしました。
                  p
                    |Hawaii’s popular modern Vietnamese restaurant, THE PIG &amp; THE LADY opens today!

          .swiper-button
            #js-swiper-button-prev.swiper-button-prev
            #js-swiper-button-next.swiper-button-next
            #js-swiper-numbers.swiper-numbers

