
.nav-bar-wrap
  .nav-bar.p-splash__navigation
    .p-nav-fixed
      h1.brand
        a(href='/')
          img(src=`/assets/images/common/header_logo.svg` alt="")
      nav.pc-fixed
        ul.nav-list
          li.nav-top.is-current(data-module-splash="navigation-content-links")
            a(href='/#top')
              |ABOUT
          li.nav-about(data-module-splash="navigation-content-links")
            a(href='/about/')
              |MENU
          li.nav-service(data-module-splash="navigation-content-links")
            a(href='#service')
              |GALLERY
          li.nav-column(data-module-splash="navigation-content-links")
            a(href='#column')
              |NEWS
          li.nav-team(data-module-splash="navigation-content-links")
            a(href='#team')
              |CONTACT
          li.nav-contact(data-module-splash="navigation-content-links")
            a(href='#contact')
              |ACCESS
          li.nav-contact(data-module-splash="navigation-content-links")
            a(href='#contact')
              |RESERVATION
