.p-burger_container
  //- ul.p-burger_menu(data-module="Modal")
  ul.p-burger_menu
    li.p-burger_item
      a(href='/about/')
        |ABOUT
    li.p-burger_item
      a(href='/menu/')
        |MENU
    li.p-burger_item
      a(href='/gallery/')
        |GALLERY
    li.p-burger_item(data-anchor="news")
      a(href='/#news')
        |NEWS
    //- li.p-burger_item(data-anchor="contact")
      //- a.gallery-content__item(href='#contact' data-slide="1")
    li.p-burger_item(data-anchor="contact")
      a.p-contanc__item(href='#' data-module="ModalContact" data-slide="1")
        |CONTACT
    li.p-burger_item
      a(href='/about#access')
        |ACCESS
    li.p-burger_item
      a.c-link--color(href='/')
        |RESERVATION
    li.nav-sns--insta.p-burger_item
      a(href='')
        |JP
