.nav-bar-wrap(data-module="FixNavigation")
  .nav-bar.p-splash__navigation
    .p-nav
      h1.brand
        a(href='/')
          +header-logo
      //- #nav-toggle
      //-   span
      //-   span
      //-   span
