//- .nav-bar-wrap.nav-bar-lower(data-module="fixNavigation")
.nav-bar-wrap.nav-bar-lower(data-module="FixNavigationLower")
  //- .nav-bar.p-lower__navigation__wrapper(data-module-splash="navigation")
  .nav-bar.p-lower__navigation__wrapper
    .p-nav
      h1.brand(data-module-splash="navigation-content-logo")
        a(href='/')
          +header-logo
      //- #nav-toggle(data-module-splash="navigation-content-logo")
      //-   span
      //-   span
      //-   span