
#js-contanc-modal.p-modal
  #js-contanc-modalOverlay.p-modal-overlay
    #js-contanc-modalClose.p-modal-close

  .p-modal-dialog.movie
    .p-modal-content
      .p-modal-body
        //- #js-galleryModalSwiper.swiper-container
        #js-contanc-modalSwiper.swiper-container
          .swiper-wrapper

            //- 1（movie）
            .swiper-slide

              iframe.u-pcOnly(width='560', height='315', src='https://www.youtube.com/embed/SmAIyQjvKAM?rel=0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
              iframe.u-spOnly(width='560', height='315', src='https://www.youtube.com/embed/SmAIyQjvKAM?rel=0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
              //- autoplay
              //- iframe.u-pcOnly(width='560', height='315', src='https://www.youtube.com/embed/SmAIyQjvKAM?rel=0&autoplay=1', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
