
.nav-bar-wrap
  .nav-bar.p-splash__navigation
    .p-nav-fixed
      h1.brand
        a(href='/')
          +header-logo
nav.pc-fixed
  //- ul.nav-list.nav-list(data-module="naviAnchor")
  ul.nav-list.nav-list
    //- li.nav-top.is-current(data-module-splash="navigation-content-links")
    li.nav-top
      a(href='/about/')
        |ABOUT
    li.nav-about
      a(href='/menu/')
        |MENU
    li.nav-service
      a(href='/gallery/')
        |GALLERY
    li.nav-column
      a(href='#news')
        |NEWS
    //- li.nav-team(data-module="Modal")
    li.nav-team
      //- a.gallery-content__item(href='#' data-slide="1")
      a(href='#')
        |CONTACT
    li.nav-contact
      a(href='#contact')
        |ACCESS
    li.nav-contact
      a.c-link--color(href='#contact')
        |RESERVATION
    li.nav-sns--insta
      a(href='#contact')
        |JP
