//- .p-reservation(data-module='ReservationScroll')
.p-reservation(data-module='Reservation')
  #tc-widget(data-autolang='true', data-lang='ja', data-layout='horizontal', data-theme='clear', data-shop-id='thepigandthelady')
  //- #tc-widget(data-autolang='true', data-lang='ja', data-layout='vertical', data-theme='clear', data-shop-id='thepigandthelady')
  //- #tc-widget(data-autolang='true', data-lang='ja', data-layout='vertical', data-theme='clear', data-time-interval='30', data-shop-id='')
  //- .p-reservation__btn(data-module='ReservationShow')
  .p-reservation__btn
    |RESERVATION
    //- br
    //- span 予約検索
