footer.p-footer
  .l-inner
    .l-col.l-col--2
      .p-footer-logo
        //- .p-footer-logo__image
        +footer-logo
      .p-footer-info
        ul.p-footer-link
          li
            a(href='https://transit-web-job.net/jobfind-pc/area/All?freeword=THE+PIG' target='_blank')
              |STAFF WANTED
          li
            a(href='https://thepigandthelady.com/' target='_blank')
              |GLOBAL SITE
        p
          |address : Ebisu Ginza Cross Bldg.2F, 1-4-15, Ebisu-Minami, Shibuya-ku,Tokyo

        p
          |tel : 050-1743-1650
        ul.p-footer-sns
          li
            a.c-icon--insta(href='https://www.instagram.com/pigandthelady/' target='_blank')
          li
            a.c-icon--fb(href='https://www.facebook.com/thepigandtheladyjapan/' target='_blank')
          li
            a.c-icon--insta(href='https://www.instagram.com/pigandtheladyjp/' target='_blank')
          li
            a.c-icon--tw(href='https://twitter.com/pigandtheladyjp' target='_blank')


    .p-copyright
      p © TRANSIT GENERAL OFFICE INC. All Rights Reserved.
