include /_dev/_mixin/_index

block vars

doctype html
html
  head
    +meta
    script(type='text/javascript', src='https://vesper-widget.s3.amazonaws.com/tc_widget/tc_widget.js')
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-142372439-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-142372439-1');
  body
    main
      block header

      block main

      include /_dev/_include/_inc_footer.pug

    block end_of_body
      script(src='/assets/scripts/app.js')
